Zoals je in de <a href="{{ path('help') }}">introductie</a> kunt lezen, is Somda een centrale database met treinspotters informatie.
<br />
<br /><strong>Wat houdt Somda bij</strong>
<br />Somda bewaart alle spots die gebruikers invoeren, waarmee omlopen en materieelvoorspellingen worden berekend.
<br />In Somda staan ook alle dienstregelingen van reizigerstreinen in Nederland.
<br />
<br /><strong>Interessante functies</strong>
<br /><a href="{{ path('special_routes') }}">Dienstregeling - Bijzondere ritten</a> - Geeft een overzicht van gewijzigde en extra dienstregelingen, zoals bij werkzaamheden en ritten van museummaterieel.
<br /><a href="{{ path('train_table') }}">Dienstregeling - Dienstregeling van een trein</a> - Geeft de dienstregeling van een bepaalde reizigerstrein.
<br /><a href="{{ path('passing_routes') }}">Dienstregeling - Doorkomststaat</a> - Alle reizigerstreinen die tussen 2 gekozen tijdstippen voorbij komen op een bepaalde plek.
<br /><a href="{{ path('train_compositions') }}">Materieel - Materieelsamenstellingen</a> - Hier kan je bekijken hoe rijtuig- en treinstammen zijn samengesteld.
<br /><a href="{{ path('spots') }}">Spots - Recente spots</a> - Hier kan je spots van Somda-gebruikers bekijken. Als je wilt weten met welk materieel een trein wordt gereden, kan je hier het beste zoeken naar spots.
<br />
<br /><strong>Spots invoeren</strong>
<br />Als je mee wilt helpen aan meer actuele informatie in Somda dan kan je ook de door jou gespotte treinen invoeren.
<br />Bekijk voor je gaat invoeren de <a href="{{ path('news_text', { 'id': 25 }) }}">richtlijnen voor het invoeren van spots</a>. Bezoek vervolgens de functie <a href="{{ path('spot_input') }}">spots invoeren</a>.
