{% extends('base.html.twig') %}

{% block content %}
    <div class="panel">
        <div class="panel-title">Spots aanpassen</div>
        <div class="panel-content panel-no-background">
            <p class="info">De volgende spots worden allemaal aangepast:</p>
            <table>
                <thead>
                    <tr>
                        <th>Materieel</th>
                        <th>Treinnummer</th>
                        <th>Positie</th>
                        <th>Extra info</th>
                        <th>Datum</th>
                        <th>Gespot door</th>
                        <th>Spot-locatie</th>
                    </tr>
                </thead>
                <tbody>
                    {% for spot in spots %}
                        <tr>
                            <td>{{ spot.name_pattern_name }} {{ spot.train_number }}</td>
                            <td>
                                {% if spot.route_number matches '/^\\d+$/' %}
                                    <a href="{{ path('spots_to_train_table', { 'route_number': spot.route_number, 'date': spot.spot_date|date('Y-m-d') }) }}" title="Bekijk de dienstregeling van trein {{ spot.route_number }}">{{ spot.route_number }}</a>
                                {% else %}
                                    {{ spot.route_number }}
                                {% endif %}
                            </td>
                            <td>{{ spot.position_name }}</td>
                            <td>{{ spot.extra }}</td>
                            <td>{{ spot.spot_date|displayDateTime }}</td>
                            <td>{{ spot.spotter_id|displayUser(spot.spotter_username)|raw }}</td>
                            <td><span title="{{ spot.location_description }}">{{ spot.location_name }}</span></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <br />

            {{ form_start(form, { 'attr': { 'id': 'spot_form' } }) }}
                <table>
                    {% if form.date is defined %}{{ form_row(form.date) }}{% endif %}
                    {% if form.location is defined %}{{ form_row(form.location) }}{% endif %}
                    <tr>
                        <td>&nbsp;</td>
                        <td>
                            <a class="somda-button" href="#" id="spot_button" onclick="disableMeAndSubmitForm('spot_button', 'spot_form'); return false;">Spots opslaan</a>
                        </td>
                    </tr>
                </table>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
