{% extends('base.html.twig') %}

{% block content %}
    <div class="panel">
        <div class="panel-title">Bewerk spot</div>
        <div class="panel-content panel-no-background">
            {{ form_start(form, { 'attr': { 'id': 'spot_form' } }) }}
                <table>
                    {{ form_row(form.spot_date) }}
                    {{ form_row(form.train) }}
                    {{ form_row(form.route) }}
                    {{ form_row(form.position) }}
                    {{ form_row(form.location) }}
                    {{ form_row(form.extra) }}
                    {{ form_row(form.user_extra) }}
                    <tr>
                        <td>&nbsp;</td>
                        <td>
                            <a class="somda-button" href="#" id="spot_button" onclick="disableMeAndSubmitForm('spot_button', 'spot_form'); return false;">Opslaan</a>
                            <a class="somda-button" href="{{ path('my_spots') }}">Terug naar mijn spots</a>
                        </td>
                    </tr>
                </table>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
