{% extends('base.html.twig') %}

{% block content %}
    <br />
    <p class="info">
        Bij materieelnummer en treinnummer is het mogelijk om wildcards te gebruiken.
        <br />Zoek naar een willekeurig getal door op deze plaats een sterretje te zetten.
        <br />Let op: een sterretje staat voor 1 willekeurig getal, 95* geeft dus alleen 950 t/m 959 en niet bijvoorbeeld 9594.
    </p>
    <table>
        <tr>
            <th><label for="max_months">Bekijk spots van maximaal</label></th>
            <td>
                <select id="max_months" name="max_months">
                    <option {{ max_months == 1 ? 'selected="selected" ' }}value="1">1 maand oud</option>
                    <option {{ max_months == 3 ? 'selected="selected" ' }}value="3">3 maanden oud</option>
                    <option {{ max_months == 6 ? 'selected="selected" ' }}value="6">6 maanden oud</option>
                    <option {{ max_months == 12 ? 'selected="selected" ' }}value="12">1 jaar oud</option>
                    <option {{ max_months == 24 ? 'selected="selected" ' }}value="24">2 jaar oud</option>
                    <option {{ max_months == 36 ? 'selected="selected" ' }}value="36">3 jaar oud</option>
                    <option {{ max_months == 48 ? 'selected="selected" ' }}value="48">4 jaar oud</option>
                    <option {{ max_months == 60 ? 'selected="selected" ' }}value="60">5 jaar oud</option>
                    <option {{ max_months == 999 ? 'selected="selected" ' }}value="999">onbeperkt</option>
                </select>
            </td>
        </tr>
        <tr>
            <th><label for="location">Filter op locatie</label></th>
            <td>
                <input id="location" maxlength="8" name="location" size="10" type="text" value="{{ location }}" /> <a href="#" onclick="$('#location').val(''); return false;"><i class="fas fa-trash-alt"></i></a>
                <span id="location_description"></span>
            </td>
        </tr>
        <tr>
            <th><label for="day_number">Filter op weekdag</label></th>
            <td>
                <select id="day_number" name="day_number">
                    <option {{ day_number is null ? 'selected="selected" ' }}value="0">-</option>
                    {% for day_number_select in 1..7 %}
                        <option {{ day_number == day_number_select ? 'selected="selected" ' }}value="{{ day_number_select }}">{{ ('general.date.days.' ~ (day_number_select - 1)) | trans }}</option>
                    {% endfor %}
                </select>
                <a href="#" onclick="$('#day_number').val('0'); return false;"><i class="fas fa-trash-alt"></i></a>
            </td>
        </tr>
        <tr>
            <th><label for="spot_date">Filter op datum</label></th>
            <td><input class="datepicker" id="spot_date" name="spot_date" size="10" type="text" value="{{ spot_date }}"/> <a href="#" onclick="$('#spot_date').val(''); return false;"><i class="fas fa-trash-alt"></i></a></td>
        </tr>
        <tr>
            <th><label for="train_number">Filter op materieelnummer</label></th>
            <td><input id="train_number" name="train_number" size="10" type="text" value="{{ train_number }}"/> <a href="#" onclick="$('#train_number').val(''); return false;"><i class="fas fa-trash-alt"></i></a></td>
        </tr>
        <tr>
            <th><label for="route_number">Filter op treinnummer</label></th>
            <td><input id="route_number" name="route_number" size="10" type="text" value="{{ route_number }}" /> <a href="#" onclick="$('#route_number').val(''); return false;"><i class="fas fa-trash-alt"></i></a></td>
        </tr>
        <tr>
            <th>&nbsp;</th>
            <td><a class="somda-button" href="#" id="searchSpots" onclick="searchSpots(); return false;">{{ 'general.button.search' | trans }}</a></td>
        </tr>
    </table>
    <br />

    {% if spots is not null %}
        <div class="panel">
            <div class="panel-title">Recente spots</div>
            <div class="panel-content">
                <table class="nowrap" id="spots_table">
                    <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th>Materieel</th>
                            <th>&nbsp;</th>
                            <th>Treinnummer</th>
                            <th>Positie</th>
                            <th>Extra info</th>
                            <th>&nbsp;</th>
                            <th>Datum</th>
                            <th>&nbsp;</th>
                            <th>Gespot door</th>
                            <th>&nbsp;</th>
                            <th>Spot-locatie</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for spot in spots %}
                            <tr>
                                <td>{{ spot.train_number }}</td>
                                <td>{{ spot.name_pattern_name }} {{ spot.train_number }}</td>
                                <td>{{ spot.route_number }}</td>
                                <td>
                                    {% if spot.route_number matches '/^\\d+$/' %}
                                        <a href="{{ path('spots_to_train_table', { 'route_number': spot.route_number, 'date': spot.spot_date | date('Y-m-d') }) }}" title="Bekijk de dienstregeling van trein {{ spot.route_number }}">{{ spot.route_number }}</a>
                                    {% else %}
                                        {{ spot.route_number }}
                                    {% endif %}
                                </td>
                                <td>{{ spot.position_name }}</td>
                                <td>{{ spot.extra }}</td>
                                <td>{{ spot.spot_date|date('Y-m-d') }}</td>
                                <td>{{ spot.spot_date|displayDateTime }} {{ spot.displaySpotTime }}</td>
                                <td>{{ spot.spotter_username }}</td>
                                <td>{{ spot.spotter_id|displayUser(spot.spotter_username) | raw }}</td>
                                <td>{{ spot.location_name }}</td>
                                <td><span title="{{ spot.location_description }}">{{ spot.location_name }}</span></td>
                            </tr>
                        {% else %}
                            <tr><td colspan="7">Er zijn geen spots gevonden met de ingestelde filters</td></tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>&nbsp;</th>
                            <th>materieel</th>
                            <th>&nbsp;</th>
                            <th>treinnummer</th>
                            <th>&nbsp;</th>
                            <th>&nbsp;</th>
                            <th>&nbsp;</th>
                            <th>datum</th>
                            <th>&nbsp;</th>
                            <th>spotter</th>
                            <th>&nbsp;</th>
                            <th>locatie</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="{{ asset('js/dateFormat-2019-08-01.js') }}?version={{ 'js/dateFormat-2019-08-01.js' | fileTimestamp }}"></script>

    <script>
        {{ include('partials/locationAutoComplete.js.twig') }}

        function searchSpots() {
            let location = '{{ path('spots_search', { 'max_months': 1, 'search_parameters': 'myParameters' }) }}';
            location = location.replace('/1/', '/' + $('#max_months').val() + '/');
            location = location.replace('myParameters', $('#location').val() + '/' + $('#day_number').val() + '/' + $('#spot_date').val() + '/' + $('#train_number').val() + '/' + $('#route_number').val());
            document.location = location;
        }

        {% if spots is not null %}
            $(document).ready(function() {
                $('#spots_table tfoot th').each(function () {
                    const title = $(this).text();
                    if (title.length > 1) {
                        $(this).html('<input id="filter_' + title + '" placeholder="Zoek een ' + title + '" size="10" type="text" />');
                    }
                });
                $('#filter_datum').datepicker({
                    closeText: 'Sluiten',
                    constrainInput: true,
                    currentText: 'Vandaag',
                    dateFormat: 'dd-mm-yy',
                    dayNames: ['Zondag', 'Maandag', 'Dinsdag', 'Woensdag', 'Donderdag', 'Vrijdag', 'Zaterdag'],
                    dayNamesMin: ['zo', 'ma', 'di', 'wo', 'do', 'vr', 'za'],
                    dayNamesShort: ['Zon', 'Maa', 'Din', 'Woe', 'Don', 'Vri', 'Zat'],
                    firstDay: 1,
                    maxDate: '+0',
                    monthNames: ['januari', 'februari', 'maart', 'april', 'mei', 'juni', 'juli', 'augustus', 'september', 'oktober', 'november', 'december'],
                    monthNamesShort: ['jan', 'feb', 'mar', 'apr', 'mei', 'jun', 'jul', 'aug', 'sep', 'okt', 'nov', 'dec'],
                    nextText: 'Volgende maand',
                    prevText: 'Vorige maand',
                    showButtonPanel: true,
                });

                let spotsTable = $('#spots_table').DataTable({
                    'columnDefs': [
                        { 'targets': 0, 'visible': false },
                        { 'targets': 1, 'orderData': 0 },
                        { 'targets': 2, 'type': 'num', 'visible': false },
                        { 'targets': 3, 'orderData': 2 },
                        { 'targets': 6, 'visible': false },
                        { 'targets': 7, 'orderData': 6 },
                        { 'targets': 8, 'visible': false },
                        { 'targets': 9, 'orderData': 8 },
                        { 'targets': 10, 'visible': false },
                        { 'targets': 11, 'orderData': 10 },
                    ],
                    initComplete: function () {
                        this.api().columns().every(function () {
                            let that = this;
                            $('input', this.footer()).on('keyup change clear', function () {
                                if (that.search() !== this.value) {
                                    that.search(this.value).draw();
                                }
                            });
                        });
                    },
                    'language': {
                        'aria': {
                            'sortAscending': ': activeer om oplopend te sorteren',
                            'sortDescending': ': activeer om aflopend te sorteren'
                        },
                        'emptyTable': 'Geen spots gevonden',
                        'info': 'Toont pagina _PAGE_ van _PAGES_',
                        'infoEmpty': 'Geen spots gevonden',
                        'infoFiltered': '(gefilterd uit _MAX_ spots)',
                        'lengthMenu': 'Toon _MENU_ spots per pagina',
                        'loadingRecords': 'Laden ...',
                        'processing': 'Laden ...',
                        'search': 'Zoeken:',
                        'paginate': {
                            'first': 'Eerste',
                            'last': 'Laatste',
                            'next': 'Volgende',
                            'previous': 'Vorige',
                        },
                        'zeroRecords': 'Geen spots gevonden',
                    },
                    'order': [[1, 'asc'], [2, 'asc']],
                    'stateSave': true,
                });

                // Restore the saved state for the individual columns
                let state = spotsTable.state.loaded();
                if (state) {
                    spotsTable.columns().eq(0).each(function (colIdx) {
                        const columnSearch = state.columns[colIdx].search;
                        if (columnSearch.search) {
                            $('input', spotsTable.column(colIdx).footer()).val(columnSearch.search);
                        }
                    });
                    spotsTable.draw();
                }
            });
        {% endif %}
    </script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" type="text/css" />
{% endblock %}
