{% extends('base.html.twig') %}

{% block content %}
    <div class="home-panel separate-panel">
        <div class="home-panel-title">Beheer bijzondere rit</div>
        <div class="home-panel-content panel-no-background">
            {{ form_start(form, { 'attr': { 'id': 'special_route_form' } }) }}
                <table class="design">
                    {{ form_row(form.startDate) }}
                    <tr><td><label for="toggle_single_day">Bijzondere rit voor 1 dag</label></td><td><input checked="checked" id="toggle_single_day" type="checkbox" /></td></tr>
                    {{ form_row(form.endDate) }}
                    {{ form_row(form.title) }}
                    <tr><td>&nbsp;</td><td id="special_route_item_image"><img alt="image" src="{{ asset('images/materieel/' ~ specialRoute.image) }}" /></td></tr>
                    {{ form_row(form.image) }}
                    {{ form_row(form.text) }}
                    {{ form_row(form.public) }}
                    <tr>
                        <td>&nbsp;</td>
                        <td>
                            <a class="somda-button" href="#" onclick="$('#special_route_form').submit(); return false;">Opslaan</a>
                            <a class="somda-button" href="{{ path('manage_special_routes') }}">Terug naar het overzicht</a>
                        </td>
                    </tr>
                </table>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function() {
            $('#toggle_single_day').on('change', function () {
                $('#special_route_endDate').attr('disabled', $(this).is(':checked'));
            }).trigger('change');

            $('#special_route_image').on('change', function () {
                $('#special_route_item_image').html('<img alt="image" src="/images/materieel/' + $(this).val() + '" />');
            }).trigger('change');
        });
    </script>
{% endblock %}
