<div>
	<div class="home-dashboard-container">
		<div>
			<strong>Totaal aantal gebruikers</strong>
			<br />{{ layoutData[constant('App\\Controller\\HomeController::KEY_DASHBOARD')]['activeUsers']|number_format(0, '', '.') }}
			<br />
			<br /><strong>Totaal pageviews</strong>
			<br />{{ layoutData[constant('App\\Controller\\HomeController::KEY_DASHBOARD')]['pageViews']|number_format(0, '', '.') }}
			<br />
			<br /><strong>Totaal aantal spots</strong>
			<br />{{ layoutData[constant('App\\Controller\\HomeController::KEY_DASHBOARD')]['spots']|number_format(0, '', '.') }}
		</div>
		<div>
			{% for statistic in layoutData[constant('App\\Controller\\HomeController::KEY_DASHBOARD')]['statistics'] %}
				<strong>{{ statistic.timestamp|displayDateTime(false, true) }} - {{ statistic.visitors_total }} bezoekers</strong>
				<br />{{ statistic.number_of_spots }} spot(s) &amp; {{ statistic.number_of_posts }} forumbericht(en).
				<br /><br />
			{% endfor %}
		</div>
	</div>
</div>
<div>
	{% if layoutData[constant('App\\Controller\\HomeController::KEY_DASHBOARD')]['birthdayUsers'] == 1 %}
		<strong>Er is 1 jarige gebruiker! Van harte gefeliciteerd!</strong>
	{% elseif layoutData[constant('App\\Controller\\HomeController::KEY_DASHBOARD')]['birthdayUsers'] > 1 %}
		<strong>Er zijn {{ layoutData[constant('App\\Controller\\HomeController::KEY_DASHBOARD')]['birthdayUsers'] }} jarige gebruikers! Van harte gefeliciteerd!</strong>
	{% endif %}
	Het dashboard wordt elk uur bijgewerkt.
</div>
