<div class="home-forum-container">
	{% for discussion in layoutData[constant('App\\Controller\\HomeController::KEY_FORUM_SPOTS')]['discussions'] %}
		<div>{{ discussion['max_post_timestamp'] | displayDateTime(true, true) }}</div>
		<div>
			{% if discussion['locked'] %}
				<i class="fas fa-lock"></i>
			{% elseif discussion['posts'] > 1 %}
				<i class="fas fa-comments"></i>
			{% else %}
				<i class="fas fa-comment"></i>
			{% endif %}
		</div>
		<div>
			<a href="{{ path('forum_discussion', { 'id': discussion['id'], 'name': (discussion['title'] | url_encode) }) }}">{{ discussion['title'] }}</a>
			{% if not discussion['discussion_read'] %} <i class="fas fa-comment-dots"></i>{% endif %}
		</div>
	{% endfor %}
</div>

<br />
<div class="home-panel-buttons">
	<a class="somda-button" href="{{ path('forum_forum', { 'id': layoutData[constant('App\\Controller\\HomeController::KEY_FORUM_SPOTS')]['id'], 'name': (layoutData[constant('App\\Controller\\HomeController::KEY_FORUM_SPOTS')]['name'] | url_encode) }) }}">Naar het foute-spots forum</a>
	<a class="somda-button" href="{{ path('forum') }}">Naar het forum</a>
</div>
