<!DOCTYPE html>
<html class="no-webp" lang="nl" xml:lang="nl" xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% if app.user and app.user.cookieOk == constant('App\\Entity\\User::COOKIE_OK') %}
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-2723197-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){
                dataLayer.push(arguments);
            }
            gtag('js', new Date());
            gtag('config', 'UA-2723197-1');
        </script>
    {% endif %}

    <link rel="apple-touch-icon" href="{{ asset('images/logos-somda/app-logo.png') }}" />
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="robots" content="index, follow" />
    <meta name="keywords" content="Somda" />
    <meta name="description" content="Somda" />
    <meta name="author" content="Peter van der Leek" />
    <meta name="generator" content="Peter van der Leek" />

    <meta name="HandheldFriendly" content="true" />
    <meta name="format-detection" content="telephone=yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, user-scalable=yes" />

    <title>{% if pageTitle is defined %}{{ pageTitle }} - {% endif %}Somda</title>

    <link href="{{ asset('css/base-min.css') }}?version={{ 'css/base-min.css' | fileTimestamp }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('css/mobile-min.css') }}?version={{ 'css/mobile-min.css' | fileTimestamp }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('css/font-awesome-5.13.0-min.css') }}?version={{ 'css/font-awesome-5.13.0-min.css' | fileTimestamp }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('css/font-awesome-brands-5.13.0-min.css') }}?version={{ 'css/font-awesome-brands-5.13.0-min.css' | fileTimestamp }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('css/font-awesome-solid-5.13.0-min.css') }}?version={{ 'css/font-awesome-solid-5.13.0-min.css' | fileTimestamp }}" rel="stylesheet" type="text/css" />

    <style type="text/css">
        #header_image {
            background: url('{{ asset('images/logos-somda/logo-' ~ imageNumber ~ '.png') }}') no-repeat;
        }
    </style>

    <link href="{{ asset('favicon.ico') }}" rel="shortcut icon" type="image/x-icon" />
</head>
<body>
    <div id="container">
        <div id="header"><img alt="Somda" src="{{ asset('images/logos-somda/logo-' ~ imageNumber ~ '.png') }}" /></div>

        <div id="menu">
            <a href="{{ path('home') }}">Home</a> -
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <a href="{{ path('passing_routes') }}">Doorkomststaat</a> - <a href="{{ path('location') }}">Verkortingen</a> - <a href="{{ path('train_table') }}">Dienstregeling</a> - <a href="{{ path('special_routes') }}">Bijzondere ritten</a> - <a href="{{ path('spot_input') }}">Spots invoeren</a> - <a href="{{ path('forum') }}">Forum</a> - <a href="{{ path('logout') }}">Afmelden</a>
            {% else %}
                <a href="{{ path('train_table') }}">Dienstregeling</a> - <a href="{{ path('location') }}">Verkortingen</a> - <a href="{{ path('special_routes') }}">Bijzondere ritten</a> - <a href="{{ path('forum') }}">Forum</a>
            {% endif %}
        </div>

        <div id="content">
            {% include 'partials/errorMessages.html.twig' %}
            {% block content %}{% endblock %}
        </div>

        <div id="footer">
            <p><span class="left"><a href="{{ path ('home') }}">Home</a></span><span class="right">Powered by <a href="{{ path('home') }}">Somda.nl</a></span></p>
            <br /><p>Copyright &#169; 2003-{{ 'now' | date('Y') }} Somda.nl - alle rechten voorbehouden</p>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="{{ asset('js/jquery-tablesorter.js') }}?version={{ 'js/jquery-tablesorter.js' | fileTimestamp }}"></script>

    {# If applicable, jump to the requested forum-post #}
    {% if forumJump is defined and forumJump is not null %}
        <script>
            $(document).ready(function() {
                $('html,body').animate({ scrollTop: $('#{{ forumJump }}').offset().top }, 'fast');
            });
        </script>
    {% endif %}

    {% block javascripts %}{% endblock %}
</body>
</html>
