{% extends('mobile/base.html.twig') %}

{% block content %}
    Welkom op Somda mobiel.
    <br />
    <br />Deze mobiele versie bevat een selectie van de vele beschikbare functionaliteiten op <a href="{{ path('home') }}">www.somda.nl</a>. In het menu hierboven vind je de mogelijkheden.
    <br />
    {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <br />Na inloggen kan je ook spots invoeren en reageren in het forum.
        <br />
        <br />
        {% if error is defined and error %}
            <p class="alert">{{ error.messageKey | trans(error.messageData, 'security') }}</p>
        {% endif %}
        <form action="{{ path('login') }}" id="login_form" method="post">
            <table>
                <tr><th colspan="2">Inloggen op Somda Mobiel<br /><i>(sommige onderdelen zijn beveiligd)</i></th></tr>
                <tr><td><label for="username">Gebruikersnaam</label></td><td><input id="username" maxlength="20" name="username" size="20" type="text"{% if lastUsername is defined %} value="{{ lastUsername }}"{% endif%} /></td></tr>
                <tr><td><label for="password">Wachtwoord</label></td><td><input id="password" name="password" size="20" type="password" /></td></tr>
                <tr><td>&nbsp;</td><td><label for="remember_me"><input id="remember_me" name="_remember_me" type="checkbox" /> Blijf ingelogd</label></td></tr>
                <tr><td colspan="2"><a class="somda-button" href="#" onclick="$('#login_form').submit(); return false;">Inloggen bij Somda</a></td></tr>
            </table>
        </form>
        <br />
        <p class="info">
            Nog geen gebruikersnaam en wachtwoord? <a href="{{ path('register') }}">Registreer je op Somda.nl gratis en vrijblijvend</a>
            <br />
            <br />Wachtwoord vergeten?<br /><a href="{{ path('lost_password') }}">Vraag op Somda.nl een nieuw wachtwoord aan</a>
        </p>
        <br />
    {% endif %}
{% endblock %}
