{% extends('base.html.twig') %}

{% block content %}
    <div class="home-panel separate-panel">
        <div class="home-panel-title"><i class="fas fa-shipping-fast"></i> Feedback sturen naar de beheerder</div>
        <div class="home-panel-content">
            {{ form_start(form, { 'attr': { 'id': 'contact_form' } }) }}
            <table class="design">
                {{ form_row(form.subject) }}
                {{ form_row(form.text) }}
                <tr>
                    <td>&nbsp;</td>
                    <td>
                        <a class="somda-button" href="#" onclick="$('#contact_form').submit(); return false;"><span>Verstuur bericht</span></a>
                        <a class="somda-button" href="{{ path('home') }}"><span>Terug naar home</span></a>
                    </td>
                </tr>
            </table>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
