{% extends('base.html.twig') %}

{% block content %}
    <div class="panel">
        <div class="panel-title">Afbeelding met doorkomststaat</div>
        <div class="panel-content">
            <p class="info">Somda levert een afbeelding met een doorkomststaat. Hieronder vind je een omschrijving van de mogelijkheden.</p>

            <br /><strong>Afbeelding met doorkomststaat</strong>
            <br />De doorkomststaat levert alle aankomende, passerende en vertrekkende treinen in een station in een bepaalde periode.
            <br />De standaard uitvoer is een PNG-afbeelding met de 10 eerstvolgende treinen. Voor deze standaard uitvoer hoeft alleen een station opgegeven te worden:
            <br /><a href="{{ path('feed_image', { 'location_name': 'ut' }) }}">{{ url('feed_image', { 'location_name': 'ut' }) }}</a>
            <br />
            <br />Je kan deze afbeelding op je site gewoon als plaatje gebruiken, dus: &lt;img src="{{ url('feed_image', { 'location_name': 'ut' }) }}" /&gt;. Dit levert het volgende:
            <br /><img alt="" src="{{ path('feed_image', { 'location_name': 'ut' }) }}" />
            <br />
            <br />De URL van de afbeelding accepteert achtereenvolgens ook nog het dagnummer en de starttijd:
            <br /><a href="{{ path('feed_image_with_day_number', { 'location_name': 'ut', 'day_number': 3 }) }}">{{ url('feed_image_with_day_number', { 'location_name': 'ut', 'day_number': 3 }) }}</a>
            <br /><a href="{{ path('feed_image_with_start_time', { 'location_name': 'ut', 'day_number': 6, 'start_time': '09:30' }) }}">{{ url('feed_image_with_start_time', { 'location_name': 'ut', 'day_number': 3, 'start_time': '09:30' }) }}</a>
            <br />Geef je geen dagnummer en start-tijd, dan worden vandaag en de huidige tijd gebruikt.
            <br />
            <br />Daarnaast worden er 3 argumenten geaccepteerd, te weten:
            <table>
                <tr><th>Argument-naam</th><th>Uitleg</th><th>Standaard-waarde</th></tr>
                <tr><td>limit</td><td>Aantal weer te geven treinen</td><td>10</td></tr>
                <tr><td>fg-color</td><td>6 karakters hexadecimaal voor de tekstkleur, bijvoorbeeld FFAA33</td><td>FFFFFF (wit)</td></tr>
                <tr><td>bg-color</td><td>6 karakters hexadecimaal voor de achtergrondkleur, bijvoorbeeld 0000FF</td><td>000000 (zwart)</td></tr>
            </table>
            <br /><strong>Voorbeeld</strong>
            <br /><a href="{{ path('feed_image_with_start_time', { 'location_name': 'ut', 'day_number': 6, 'start_time': '09:30' }) }}?limit=20&fg-color=FFAA33&bg-color=0000FF">{{ url('feed_image_with_start_time', { 'location_name': 'ut', 'day_number': 3, 'start_time': '09:30' }) }}?limit=20&fg-color=FFAA33&bg-color=0000FF</a>
        </div>
    </div>
{% endblock %}
