{% extends('base.html.twig') %}

{% block content %}
    <div class="panel">
        {{ form_start(form, { 'attr': { 'id': 'mail_form' } }) }}
            <div class="panel-title">E-mail versturen naar gebruiker "{{ user.username }}"</div>
            <div id="text_editor"></div>
            <div class="panel-content">
                <table>
                    {{ form_rest(form) }}
                    <tr>
                        <td>&nbsp;</td>
                        <td>
                            <a class="somda-button" href="#" id="mail_button" onclick="disableMeAndSubmitForm('mail_button', 'mail_form'); return false;">Verstuur bericht</a>
                            <a class="somda-button" href="{{ path('profile_view', { 'id': user.id }) }}">Terug naar het profiel van "{{ user.username }}"</a>
                        </td>
                    </tr>
                </table>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    {% include('ckeditor.js.html.twig') %}

    <script>
        $('#mail_form').submit(function() {
            $('#user_mail_text').val(window.editor.getData());
        });
    </script>
{% endblock %}
