{% extends('base.html.twig') %}

{% block content %}
    <div class="home-panel separate-panel">
        {{ form_start(form, { 'attr': { 'id': 'mail_form' } }) }}
            <div class="home-panel-title">E-mail versturen naar gebruiker "{{ user.username }}"</div>
            <div class="home-panel-content">
                <table class="design">
                    {{ form_rest(form) }}
                    <tr>
                        <td>&nbsp;</td>
                        <td>
                            <a class="somda-button" href="#" onclick="$('#mail_form').submit(); return false;">Verstuur bericht</a>
                            <a class="somda-button" href="{{ path('profile_view', { 'id': user.id }) }}">Terug naar het profiel van "{{ user.username }}"</a>
                        </td>
                    </tr>
                </table>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
