{% extends('base.html.twig') %}

{% block content %}
    <div class="home-panel separate-panel">
        {% if form is not null %}
            {{ form_start(form, { 'attr': { 'id': 'profile_form' } }) }}
                <div class="home-panel-title">Mijn profiel aanpassen</div>
                <div class="home-panel-content">
                    <table class="design">
                        <tr><td>&nbsp;</td><td id="user_avatar"><img alt="avatar" src="{{ asset('images/avatar/' ~ user.info.avatar) }}" /></td></tr>
                        {{ form_rest(form) }}
                        <tr>
                            <td>&nbsp;</td>
                            <td>
                                <a class="somda-button" href="#" onclick="$('#profile_form').submit(); return false;">Profiel opslaan</a>
                                <a class="somda-button" href="{{ path('home') }}">Terug naar home</a>
                            </td>
                        </tr>
                    </table>
                </div>
            {{ form_end(form) }}
        {% else %}
            <div class="home-panel-title">Profiel van gebruiker "{{ user.username }}"</div>
            <div class="home-panel-content">
                {% if is_granted('ROLE_ADMIN') %}
                    {% if (user.banExpireTimestamp | date('Y-m-d')) > ('now' | date('Y-m-d')) %}
                        <p class="warn">Deze gebruiker is geband tot {{ user.banExpireTimestamp | displayDateTime }} - <a href="{{ path('manage_ban', { 'id': user.id }) }}">Bewerk</a></p>
                    {% elseif user.banExpireTimestamp is not null %}
                        <p class="info">Deze gebruiker was geband tot {{ user.banExpireTimestamp | displayDateTime }} - <a href="{{ path('manage_ban', { 'id': user.id }) }}">Opnieuw bannen</a></p>
                    {% else %}
                        <br /><a href="{{ path('manage_ban', { 'id': user.id }) }}">Bannen</a>
                    {% endif %}
                {% endif %}
                <table class="design">
                    <tr>
                        <td rowspan="12" valign="top"><img alt="avatar" src="{{ asset('images/avatar/' ~ user.info.avatar) }}" /></td>
                        <th align="right">{{ 'profile.username' | trans }}</th>
                        <td align="left">{{ user.username }}</td>
                    </tr><tr>
                        <th align="right">{{ 'profile.name' | trans }}</th>
                        <td align="left">{{ user.name }}</td>
                    </tr><tr>
                        <th align="right">{{ 'profile.city' | trans }}</th>
                        <td align="left">{{ user.info.city }}</td>
                    </tr><tr>
                        <th align="right">{{ 'profile.gender' | trans }}</th>
                        <td align="left">{{ user.info.gender }}</td>
                    </tr><tr>
                        <th align="right">{{ 'profile.birthDate' | trans }}</th>
                        <td align="left">{{ user.info.birthDate | displayDateTime | default('Onbekend') }}</td>
                    </tr><tr>
                        <th>&nbsp;</th>
                        <td align="left"><a href="{{ path('profile_mail', { 'id': user.id }) }}">Stuur deze gebruiker een e-mail</a></td>
                    </tr><tr>
                        <th align="right">{{ 'profile.registrationDate' | trans }}</th>
                        <td align="left">{{ user.registrationTimestamp | displayDateTime }}</td>
                    </tr><tr>
                        <th align="right">{{ 'profile.lastVisit' | trans }}</th>
                        <td align="left">{{ user.lastVisit is null ? ('general.error.unknown' | trans) : (user.lastVisit | displayDateTime(true)) }}</td>
                    </tr><tr>
                        <th align="right">{{ 'profile.website' | trans }}</th>
                        <td align="left">{{ user.info.website }}</td>
                    </tr><tr>
                        <th align="right">{{ 'profile.info' | trans }}</th>
                        <td align="left">{{ user.info.info }}</td>
                    </tr>
                </table>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    {% if form is not null %}
        <script>
            $(document).ready(function() {
                $('#user_info_avatar').on('change', function () {
                    $('#user_avatar').html('<img alt="avatar" src="/images/avatar/' + $(this).val() + '" />');
                });
                $('#user_info_mobilePhone').mask('31699999999').click(function () {
                    $(this).focus();
                });
            });
        </script>
    {% endif %}
{% endblock %}
