{% extends('base.html.twig') %}

{% block content %}
    <div class="home-container">
        <div class="home-block">
            <div class="home-panel">
                <div class="panel-title">Statistieken samenvatting</div>
                <div class="panel-content">
                    <table align="center">
                        <tr><td><strong>Start meting</strong></td><td nowrap="nowrap">{{ statistics_summary.start_measurement | displayDateTime }}</td></tr>
                        <tr><td><strong>Totaal aantal pageviews tot nu toe</strong></td><td nowrap="nowrap">{{ statistics_summary.pageviews_total | number_format(0, '', '.') }}</td></tr>
                        <tr><td><strong>Drukste dag tot nu toe qua pageviews</strong></td><td nowrap="nowrap">{{ statistics_summary.busiest_pageviews_date | displayDateTime }}</td></tr>
                        <tr><td><strong>Pageviews</strong></td><td nowrap="nowrap">{{ statistics_summary.busiest_pageviews | number_format(0, '', '.') }}</td></tr>
                        <tr><td><strong>Drukste dag tot nu toe qua spots</strong></td><td nowrap="nowrap">{{ statistics_summary.busiest_spots_date | displayDateTime }}</td></tr>
                        <tr><td><strong>Spots</strong></td><td nowrap="nowrap">{{ statistics_summary.busiest_spots | number_format(0, '', '.') }}</td></tr>
                        <tr><td><strong>Drukste dag tot nu toe qua forumberichten</strong></td><td nowrap="nowrap">{{ statistics_summary.busiest_posts_date | displayDateTime }}</td></tr>
                        <tr><td><strong>Forumberichten</strong></td><td nowrap="nowrap">{{ statistics_summary.busiest_posts | number_format(0, '', '.') }}</td></tr>
                    </table>
                    <br />De statistieken worden elk uur bijgewerkt
                </div>
            </div>

            <div class="home-panel">
                <div class="panel-title">Bezoekers-aantallen de afgelopen 2 maanden</div>
                <div class="panel-content">
                    <table>
                        <tr>
                            <td><strong>Datum</strong></td>
                            <td><strong>Bezoekers homepagina</strong></td>
                            <td><strong>Bezoekers functies</strong></td>
                            <td><strong>Totaal</strong></td>
                            <td><strong>Unieke bezoekers</strong></td>
                            <td><strong>Spots</strong></td>
                            <td><strong>Forumberichten</strong></td>
                        </tr>
                        {% for statistic in statistics_per_day %}
                            <tr>
                                <td><strong>{{ statistic.timestamp | displayDateTime }}</strong></td>
                                <td align="center">{{ statistic.visitors_home }}</td>
                                <td align="center">{{ statistic.visitors_functions }}</td>
                                <td align="center">{{ statistic.visitors_total }}</td>
                                <td align="center">{{ statistic.visitors_unique }}</td>
                                <td align="center">{{ statistic.number_of_spots }}</td>
                                <td align="center">{{ statistic.number_of_posts }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>

        <div class="home-block">
            <div class="panel">
                <div class="panel-title">Bezoekers-aantallen per maand</div>
                <div class="panel-content">
                    <table>
                        <tr>
                            <td><strong>Periode</strong></td>
                            <td><strong>Bezoekers homepagina</strong></td>
                            <td><strong>Bezoekers functies</strong></td>
                            <td><strong>Totaal</strong></td>
                            <td><strong>Unieke bezoekers</strong></td>
                            <td><strong>Spots</strong></td>
                            <td><strong>Forumberichten</strong></td>
                        </tr>
                        {% for statistic in statistics_per_month %}
                            <tr>
                                <td><strong>{{ ('general.date.months.' ~ statistic['month']) | trans }} {{ statistic['year'] }}</strong></td>
                                <td align="center">{{ statistic['visitors_home'] }}</td>
                                <td align="center">{{ statistic['visitors_functions'] }}</td>
                                <td align="center">{{ statistic['visitors_total'] }}</td>
                                <td align="center">{{ statistic['visitors_unique'] }}</td>
                                <td align="center">{{ statistic['number_of_spots'] }}</td>
                                <td align="center">{{ statistic['number_of_posts'] }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
