{% extends('base.html.twig') %}

{% block content %}
    <div class="panel">
        <div class="panel-title">Beheer dienstregelingen</div>
        <div class="panel-content">
            <label for="train_table_year">Selecteer het dienstregelings-jaar</label>
            <select id="train_table_year" name="train_table_year">
                {% for train_table_year in train_table_years %}
                    <option {% if train_table_year == selected_train_table_year %}selected="selected" {% endif %}value="{{ train_table_year.id }}">{{ train_table_year.name }}</option>
                {% endfor %}
            </select>
            <a class="somda-button" href="#" onclick="manageTrainTableYear(); return false;">Toon treinseries</a>

            {% if route_lists|length %}
                <br /><br />
                <label for="route_list">Selecteer de serie</label>
                <select id="route_list" name="route_list">
                    {% for route_list in route_lists %}
                        <option {% if route_list == selected_route_list %}selected="selected" {% endif %}value="{{ route_list.id }}">
                            {{ route_list.first_number }}-{{ route_list.last_number }} - {{ route_list.characteristic.name }} - {{ route_list.transporter.name }}
                        </option>
                    {% endfor %}
                </select>
                <a class="somda-button" href="#" onclick="manageTrainTableYearRouteList(); return false;">Toon treinen</a>
            {% endif %}

            {% if routes|length %}
                <br /><br />
                <table>
                    <tr>
                        <th>Treinnummer</th>
                        <th>Maandag</th>
                        <th>Dinsdag</th>
                        <th>Woensdag</th>
                        <th>Donderdag</th>
                        <th>Vrijdag</th>
                        <th>Zaterdag</th>
                        <th>Zondag</th>
                        <th><a href="#" onclick="addTrainTable(); return false;">Voeg toe</a></th>
                    </tr>
                    {% for route in routes %}
                        <tr>
                            <td>{{ route.number }}</td>
                            <td>{{ route.trainTableFirstLastByDay(selected_train_table_year.id, 1) ? route.trainTableFirstLastByDay(selected_train_table_year.id, 1).first_location.name ~ ' - ' ~ route.trainTableFirstLastByDay(selected_train_table_year.id, 1).last_location.name }}</td>
                            <td>{{ route.trainTableFirstLastByDay(selected_train_table_year.id, 2) ? route.trainTableFirstLastByDay(selected_train_table_year.id, 2).first_location.name ~ ' - ' ~ route.trainTableFirstLastByDay(selected_train_table_year.id, 2).last_location.name }}</td>
                            <td>{{ route.trainTableFirstLastByDay(selected_train_table_year.id, 3) ? route.trainTableFirstLastByDay(selected_train_table_year.id, 3).first_location.name ~ ' - ' ~ route.trainTableFirstLastByDay(selected_train_table_year.id, 3).last_location.name }}</td>
                            <td>{{ route.trainTableFirstLastByDay(selected_train_table_year.id, 4) ? route.trainTableFirstLastByDay(selected_train_table_year.id, 4).first_location.name ~ ' - ' ~ route.trainTableFirstLastByDay(selected_train_table_year.id, 4).last_location.name }}</td>
                            <td>{{ route.trainTableFirstLastByDay(selected_train_table_year.id, 5) ? route.trainTableFirstLastByDay(selected_train_table_year.id, 5).first_location.name ~ ' - ' ~ route.trainTableFirstLastByDay(selected_train_table_year.id, 5).last_location.name }}</td>
                            <td>{{ route.trainTableFirstLastByDay(selected_train_table_year.id, 6) ? route.trainTableFirstLastByDay(selected_train_table_year.id, 6).first_location.name ~ ' - ' ~ route.trainTableFirstLastByDay(selected_train_table_year.id, 6).last_location.name }}</td>
                            <td>{{ route.trainTableFirstLastByDay(selected_train_table_year.id, 7) ? route.trainTableFirstLastByDay(selected_train_table_year.id, 7).first_location.name ~ ' - ' ~ route.trainTableFirstLastByDay(selected_train_table_year.id, 7).last_location.name }}</td>
                            <td>
                                <a href="{{ path('manage_train_table', { 'route_list_id': selected_route_list.id, 'route_id': route.id }) }}">Bewerk</a>
                                - <a href="#" onclick="addTrainTable({{ route.id }}); return false;">Kopieer</a>
                                - <a href="{{ path('manage_train_table_delete', { 'year_id': selected_train_table_year.id, 'route_list_id': selected_route_list.id, 'route_id': route.id }) }}">Verwijder</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% elseif selected_route_list is not null %}
                <p class="info">Geen treinen gevonden</p>
                <br /><a href="#" onclick="addTrainTable(); return false;">Voeg een trein toe</a>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        function manageTrainTableYear()
        {
            let location = '{{ path('manage_train_tables_year', { 'year_id': 9999 }) }}';
            location = location.replace('/9999/', '/' + $('#train_table_year').val() + '/');
            document.location = location;
        }

        function manageTrainTableYearRouteList()
        {
            let location = '{{ path('manage_train_tables_year_route_list', { 'year_id': 1234, 'route_list_id': 5678 }) }}';
            location = location.replace('/1234/', '/' + $('#train_table_year').val() + '/');
            location = location.replace('/5678/', '/' + $('#route_list').val() + '/');
            document.location = location;
        }

        {% if selected_route_list is not null %}
            function addTrainTable(routeIdToCopy)
            {
                let location = '{{ path('manage_train_table_add', { 'route_list_id': selected_route_list.id, 'route_id': 1234, 'route_number': 5678 }) }}';
                location = location.replace('/1234/', '/' + (routeIdToCopy ? routeIdToCopy : 0) + '/');
                location = location.replace('/5678/', '/' + prompt('Geef het treinnummer:', '{{ selected_route_list.first_number|slice(0, (selected_route_list.first_number | length) - 2) }}') + '/');
                document.location = location;
            }
        {% endif %}
    </script>
{% endblock %}
