{% extends('mobile/base.html.twig') %}

{% block content %}
    <table>
        <tr><th colspan="2">Doorkomststaat</th></tr>
        <tr>
            <td><label for="day_number">Dag</label></td>
            <td>
                <select id="day_number" name="dayNumber">
                    {% for dayNumberSelect in 0..6 %}
                        <option {{ dayNumber == dayNumberSelect ? 'selected="selected" ' }}value="{{ dayNumberSelect }}">{{ ('general.date.days.' ~ dayNumberSelect) | trans }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr><tr>
            <td><label for="time_start">Starttijd</label></td>
            <td><input id="time_start" size="10" type="text" value="{{ startTime }}" /></td>
        </tr><tr>
            <td><label for="time_end">Eindtijd</label></td>
            <td><input id="time_end" size="10" type="text" value="{{ endTime }}" /></td>
        </tr><tr>
            <td><label for="location_name">Locatie</label></td>
            <td><input id="location_name" size="10" type="text" value="{{ locationName }}" /></td>
        </tr><tr>
            <td colspan="2"><a class="somda-button" href="#" onclick="searchPassingRoutes(); return false;">Opvragen</a></td>
        </tr>
    </table>

    {% if passingRoutes | length > 0 %}
        <br />
        <table>
            <tr><th colspan="5">{{ locationName | lower | capitalize }} - {{ startTime }} t/m {{ endTime }} ({{ ('general.date.days.' ~ dayNumber) | trans }})</th></tr>
            <tr><th>Tijd</th><th>Treinnr</th><th>Actie</th><th>Van</th><th>Naar</th></tr>
            {% for trainTable in passingRoutes %}
                <tr>
                    <td>{{ trainTable['time'] | displayTime }}</td>
                    <td><a href="{{ path('train_table_search', { 'trainTableYearId': trainTableIndexNumber, 'routeNumber': trainTable['route_number'] }) }}">{{ trainTable[constant('App\\Repository\\TrainTable::FIELD_CHARACTERISTIC_NAME')] }}{{ trainTable['route_number'] }}</a></td>
                    <td>{{ trainTable['action'] }}</td>
                    <td><span title="{{ trainTable['fl_first_description'] }}">{{ trainTable['fl_first_name'] }}</span></td>
                    <td><span title="{{ trainTable['fl_last_description'] }}">{{ trainTable['fl_last_name'] }}</span></td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script>
        function searchPassingRoutes()
        {
            let location = '{{ path('passing_routes_search', { 'trainTableYearId': trainTableIndexNumber, 'locationName': 'locationName', 'dayNumber': 1234, 'startTime': 'startTime', 'endTime': 'endTime' }) }}';
            location = location.replace('locationName', $('#location_name').val());
            location = location.replace('1234', $('#day_number').val());
            location = location.replace('startTime', $('#time_start').val());
            location = location.replace('endTime', $('#time_end').val());
            document.location = location;
        }
    </script>
{% endblock %}
