{% extends('mobile/base.html.twig') %}

{% block content %}
    {% block wiki %}
        {% if discussion.wikis|length > 0 %}
            <table>
                <tr>
                    <td align="center">
                        Deze forumdiscussie is gekoppeld aan de <a href="http://www.railwiki.nl/" rel="noopener" target="_blank">RailWiki.nl</a> pagina('s):
                        <div class="forum-spacer-row"></div>
                        {% for wiki in discussion.wikis %}
                            <a href="http://www.railwiki.nl/index.php/{{ wiki.wiki }}" rel="noopener" target="_blank">{{ wiki.title ? wiki.title : wiki.wiki }}</a>
                            {% if not loop.last %} - {% endif %}
                        {% endfor %}
                    </td>
                </tr>
            </table>
        {% endif %}
    {% endblock %}

    {% block paginator %}
        {% if numberOfPages > 1 %}
            <div class="forum-spacer-row"></div>
            <strong>Pagina's:</strong>
            {% if page_number > 1 %}<a href="{{ path('forum_discussion_page', { 'id': discussion.id, 'name': (discussion.title|slug), 'page_number': (page_number - 1) }) }}">«</a>{% endif %}
            {% for page in 1..numberOfPages %}
                {% if page != page_number %}<a href="{{ path('forum_discussion_page', { 'id': discussion.id, 'name': (discussion.title|slug), 'page_number': page }) }}">{{ page }}</a>{% else %}{{ page }}{% endif %}
            {% endfor %}
            {% if page_number < numberOfPages %}<a href="{{ path('forum_discussion_page', { 'id': discussion.id, 'name': (discussion.title|slug), 'page_number': (page_number + 1) }) }}">»</a>{% endif %}
            <div class="forum-spacer-row"></div>
        {% endif %}
    {% endblock %}

    {% if user_is_moderator %}
        <p>Met geselecteerd: <a href="#" onclick="moderateNew(); return false;"><i class="fas fa-divide" title="Splits af naar een nieuwe discussie"></i></a></p>
    {% endif %}

    {% if user_is_moderator %}
        <span class="moderator-icons">
            {% if discussion.locked %}
                <a href="{{ path('forum_discussion_moderate', { 'id': discussion.id, 'action': constant('App\\Controller\\ForumModerateController::ACTION_OPEN') }) }}"><i class="fas fa-lock-open" title="Open discussie"></i></a>
            {% else %}
                <a href="{{ path('forum_discussion_moderate', { 'id': discussion.id, 'action': constant('App\\Controller\\ForumModerateController::ACTION_CLOSE') }) }}"><i class="fas fa-lock" title="Sluit discussie"></i></a>
            {% endif %}
            <a href="{{ path('forum_discussion_moderate', { 'id': discussion.id, 'action': constant('App\\Controller\\ForumModerateController::ACTION_MOVE') }) }}"><i class="fas fa-angle-double-right" title="Verplaats discussie"></i></a>
        </span>
        <div class="forum-spacer-row"></div>
     {% endif %}
    {% if discussion.locked %}
        <i class="fas fa-lock"></i>
    {% elseif posts|length > 1 %}
        <i class="fas fa-comments"></i>
    {% else %}
        <i class="fas fa-comment"></i>
    {% endif %}
    {{ discussion.title }}
    <br />Forum: <a href="{{ path('forum_forum', { 'id': discussion.forum.id, 'name': discussion.forum.name|slug }) }}">{{ discussion.forum.category.name }} - {{ discussion.forum.name }}</a>
    <div class="forum-spacer-row"></div>

    {% set first_unread_anchor_done = false %}
    {% for post in posts %}
        {% if new_to_old %}
            {% set post_is_unread = loop.index <= ((number_of_posts - number_of_read_posts) - (constant('App\\Generics\\ForumGenerics::MAX_POSTS_PER_PAGE') * (page_number - 1))) %}
        {% else %}
            {% set post_is_unread = loop.index > (number_of_read_posts - (constant('App\\Generics\\ForumGenerics::MAX_POSTS_PER_PAGE') * (page_number - 1))) %}
        {% endif %}
        {% if loop.index == 5 or loop.index == 55 %}
            {% if forumBanner is not null %}
                <table>
                    <tr>
                        <td><a href="{{ path('banner_click_out', { 'id': forumBanner.id }) }}" rel="noopener sponsored" target="_blank">
                            <img alt="{{ forumBanner.customer.name }} {{ forumBanner.description }}" height="150" src="{{ asset('images/banners/' ~ forumBanner.image) }}" />
                        </a></td>
                        <td><a href="{{ path('advertise') }}">advertentie</a></td>
                    </tr>
                </table>
            {% else %}
                <p class="warn">Tevreden over Somda? Overweeg dan eens een <a href="{{ path('about') }}">vrijwillige donatie</a>, alvast bedankt!</p>
                <div class="forum-spacer-row"></div>
            {% endif %}
        {% endif %}

        <table class="forum-post">{% include('mobile/forum/post.html.twig') %}</table>
        <div class="forum-spacer-row"></div>
        {% if is_granted('ROLE_ADMIN_WIKI') and (discussion.wikis|length) > 0 %}
            <table>
                <tr><td colspan="3">Railwiki.nl:
                    {% if post.wiki_check == 0 %}
                        <span class="background-color-orange" id="wiki_{{ post.id }}">Nog te controleren - <a href="#" onclick="wikiCheck({{ post.id }}, 'ok'); return false;">Markeer als gecontroleerd</a> - <a href="#" onclick="wikiCheck({{ post.id }}, 'na'); return false;">Markeer als niet relevante inhoud</a></span>
                    {% elseif post.wiki_check == 1 %}
                        Verwerkt in de wiki door {{ post.wiki_checker.id|displayUser(post.wiki_checker.username)|raw }}
                    {% else %}
                        Geen relevante inhoud, gecontroleerd door {{ post.wiki_checker.id|displayUser(post.wiki_checker.username)|raw }}
                    {% endif %}
                </td></tr>
            </table>
        {% endif %}
    {% endfor %}

    {% if not first_unread_anchor_done and not new_to_old %}<a id="new_post"></a>{% endif %}

    <div class="forum-spacer-row"></div>

    {{ block('wiki') }}

    {{ block('paginator') }}

    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <a href="{{ path('forum_unread') }}">Bekijk alle ongelezen berichten</a>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {% if is_granted('ROLE_ADMIN_WIKI') %}
        <script>
            /**
             * @param {integer} post_id
             * @param {string} operation
             */
            function wikiCheck(post_id, operation)
            {
                $.ajax({
                    url: '{{ path('forum_post_wiki_check', { 'id': 1234, 'operation': 'ok' }) }}'.replace('/1234/', '/' + post_id + '/').replace('ok', operation)
                })
                $('#wiki_' + post_id).html('<i class="fas fa-check"></i>');
            }
        </script>
    {% endif %}

    {% if user_is_moderator %}
        <script>
            function moderateNew()
            {
                let post_id_list = '';
                let checkboxes = document.getElementsByTagName('input');
                for (let box = 0; box < checkboxes.length; box++)  {
                    if (checkboxes[box].type === 'checkbox' && checkboxes[box].checked) {
                        post_id_list += checkboxes[box].name.substr(3) + ',';
                    }
                }
                if (post_id_list.length > 0) {
                    document.location = '{{ path('forum_discussion_moderate_split', { 'id': discussion.id, 'post_ids': 'abc' }) }}'.replace('/abc/', '/' + post_id_list + '/');
                } else {
                    alert('Selecteer 1 of meer berichten om af te splitsen');
                }
            }
        </script>
    {% endif %}

    <script>
        /**
         * @param {int} post_id
         */
        function favoritePostAdd(post_id)
        {
            $.ajax({
                url: '{{ path('forum_favorite_post_add', { 'id': 1234 }) }}'.replace('/1234/', '/' + post_id + '/'),
            });
            $('#favorite_box_' + post_id).html('<a href="{{ path('forum_favorites') }}" title="Deze discussie staat in jouw favoriete berichten"><i class="fas fa-hand-holding-heart"></i></a>');
        }
    </script>
{% endblock %}
