<tr>
    <th class="left-align">
        {% if user_is_moderator %}<input name="sel{{ post.id }}" type="checkbox" />{% endif %}
        <a id="p{{ post.id }}"></a>
        {% if post_is_unread and not first_unread_anchor_done %}
            <a id="new_post"></a>
            {% set first_unread_anchor_done = true %}
        {% endif %}
        {% if post_is_unread %}<i class="color-orange fas fa-comment-dots"></i>{% else %}<i class="fas fa-comment"></i>{% endif %}
        {{ post.author.id|displayUser(post.author.username)|raw }} ~ {{ post.timestamp|date('d-m-Y H:i:s') }}
        {% set numberOfFavorites = post.numberOfFavorites %}
        {% if numberOfFavorites > 0 %}<i class="fas fa-heart"></i> {{ numberOfFavorites }}{% endif %}

        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <div class="favorite-box" id="favorite_box_{{ post.id }}">
                {% if app.user.postFavorite(post) %}
                    <a href="{{ path('forum_favorites') }}" title="Deze discussie staat in jouw favoriete berichten"><i class="fas fa-hand-holding-heart"></i></a>
                {% else %}
                    <a href="#" onclick="favoritePostAdd({{ post.id }}); return false;" title="Voeg bericht toe aan jouw favoriete berichten"><i class="fas fa-hand-holding-medical"></i></a>
                {% endif %}
            </div>
        {% endif %}
    </th>
</tr>
<tr><td class="text">{{ post|displayForumPost|raw }}</td></tr>
<tr>
    <td>
        <div class="forum-spacer-row"></div>
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <a class="somda-button" href="{{ path('forum_discussion_post_alert', { 'id': post.id }) }}" rel="nofollow" title="Klik hier om dit bericht aan de beheerders te melden. Gebruik dit voor bijvoorbeeld overtredingen van forumregels">Meld</a>
        {% endif %}
        {% if may_post and not post.discussion.locked %}
            <a class="somda-button" href="{{ path('forum_discussion_post_reply', { 'id': post.id }) }}">Reageer</a>
            <a class="somda-button" href="{{ path('forum_discussion_post_quote', { 'id': post.id }) }}">Quote</a>
        {% endif %}
        {% if user_is_moderator or (may_post and not post.discussion.locked and post.author == app.user) %}
            <a class="somda-button" href="{{ path('forum_discussion_post_edit', { 'id': post.id }) }}">Bewerk</a>
        {% endif %}
    </td>
</tr>
