{% extends('base.html.twig') %}

{% block content %}
    <div class="panel">
        <div class="panel-title">Mijn instellingen</div>
        <div class="panel-content">
            {{ form_start(form, { 'attr': { 'id': 'settings_form' } }) }}
                <table>
                    <tr><th colspan="2">Layout van de home-pagina</th></tr>
                    {{ form_row(form.max_news) }}
                    {{ form_row(form.max_drgls) }}
                    {{ form_row(form.max_spots) }}
                    {{ form_row(form.max_posts) }}
                    {{ form_row(form.display_poll) }}

                    <tr><td colspan="2">&nbsp;</td></tr>
                    <tr><th colspan="2">Gebruik van de mobiele website</th></tr>
                    {{ form_row(form.force_desktop) }}

                    <tr><td colspan="2">&nbsp;</td></tr>
                    <tr><th colspan="2">Spotten</th></tr>
                    {{ form_row(form.default_spot_place) }}
                    {{ form_row(form.mail_drgls) }}

                    <tr><td colspan="2">&nbsp;</td></tr>
                    <tr><th colspan="2">Forum</th></tr>
                    {{ form_row(form.forum_signature) }}
                    {{ form_row(form.forum_new_to_old) }}
                    {{ form_row(form.mail_all_favorites) }}

                    <tr><td colspan="2">&nbsp;</td></tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td><a class="somda-button" href="#" id="settings_button" onclick="disableMeAndSubmitForm('settings_button', 'settings_form'); return false;">Instellingen opslaan</a></td>
                    </tr>
                </table>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
