{% extends('base.html.twig') %}

{% block content %}
    <div class="panel">
        <div class="panel-title">Beheer ban voor gebruiker "{{ user.username }}"</div>
        <div class="panel-content panel-no-background">
            {{ form_start(form, { 'attr': { 'id': 'ban_form' } }) }}
                <table>
                    {{ form_row(form.ban_expire_timestamp) }}
                    <tr>
                        <td>&nbsp;</td>
                        <td>
                            <a class="somda-button" href="#" id="ban_button" onclick="disableMeAndSubmitForm('ban_button', 'ban_form'); return false;">Opslaan</a>
                            <a class="somda-button" href="{{ path('manage_bans') }}">Terug naar het overzicht</a>
                        </td>
                    </tr>
                </table>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
