{% extends('base.html.twig') %}

{% block content %}
    <div class="home-panel separate-panel">
        <div class="home-panel-title">Beheer ban voor gebruiker "{{ user.username }}"</div>
        <div class="home-panel-content panel-no-background">
            {{ form_start(form, { 'attr': { 'id': 'ban_form' } }) }}
                <table class="design">
                    {{ form_row(form.banExpireTimestamp) }}
                    <tr>
                        <td>&nbsp;</td>
                        <td>
                            <a class="somda-button" href="#" onclick="$('#ban_form').submit(); return false;">Opslaan</a>
                            <a class="somda-button" href="{{ path('manage_bans') }}">Terug naar het overzicht</a>
                        </td>
                    </tr>
                </table>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
