{% extends('base.html.twig') %}

{% block content %}
    <div class="panel">
        <div class="panel-title">Beheer bans</div>
        <div class="panel-content">
            <table>
                <tr>
                    <th>Gebruikersnaam</th>
                    <th>E-mailadres</th>
                    <th>Echte naam</th>
                    <th>Status</th>
                    <th>Ban duurt tot</th>
                    <th>&nbsp;</th>
                </tr>
                {% for user in users %}
                    <tr>
                        <td>{{ user.id|displayUser(user.username)|raw }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.name }}</td>
                        <td>{{ (user.ban_expire_timestamp|date('Y-m-d')) > ('now'|date('Y-m-d')) ? 'Actief' : 'Verlopen' }}</td>
                        <td>{{ user.ban_expire_timestamp|displayDateTime }}</td>
                        <td><a href="{{ path('manage_ban', { 'id': user.id }) }}">Bewerk</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
