{% extends('base.html.twig') %}

{% block content %}
    <div class="panel">
        <div class="panel-title">Beheer treinnummerlijst</div>
        <div class="panel-content">
            <label for="trainTableYear">Selecteer het dienstregelings-jaar</label>
            <select id="trainTableYear" name="trainTableYear">
                {% for train_table in train_table_years %}
                    <option {% if train_table.id == train_table_year.id %}selected="selected" {% endif %}value="{{ train_table.id }}">{{ train_table.name }}</option>
                {% endfor %}
            </select>
            <a class="somda-button" href="#" id="manageTrainTableYear" onclick="manageTrainTableYear(); return false;">Toon treinnummerlijst</a>

            {% if route_lists|length %}
                <br /><br />
                <table>
                    <tr>
                        <th>Van</th>
                        <th>Tot</th>
                        <th>Vervoerder</th>
                        <th>Karakteristiek</th>
                        <th>Traject</th>
                        <th><a href="{{ path('manage_route_list', { 'year_id': trainTableYear.id, 'id': 0 }) }}">Voeg een serie toe</a></th>
                    </tr>
                    {% for route_list in route_lists %}
                        <tr>
                            <td>{{ route_list.first_number }}</td>
                            <td>{{ route_list.last_number }}</td>
                            <td>{{ route_list.transporter.name }}</td>
                            <td>{{ route_list.characteristic.name }} ({{ route_list.characteristic.description }})</td>
                            <td>{{ route_list.section }}</td>
                            <td><a href="{{ path('manage_route_list', { 'year_id': trainTableYear.id, 'id': route_list.id }) }}">Bewerk</a></td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        function manageTrainTableYear() {
            document.location = '{{ path('manage_route_lists_year', { 'id': 9999 }) }}'.replace('/9999/', '/' + $('#trainTableYear').val() + '/');
        }
    </script>
{% endblock %}
