{% extends('base.html.twig') %}

{% block content %}
    <div class="home-panel separate-panel">
        <div class="home-panel-title">Beheer spoornieuws</div>
        <div class="home-panel-content">
            <table class="design">
                <tr>
                    <th>Datum</th>
                    <th>Bron</th>
                    <th>Titel</th>
                    <th>Gecontroleerd</th>
                    <th>&nbsp;</th>
                </tr>
                {% for item in railNews %}
                    <tr>
                        <td>{{ item.timestamp | displayDateTime(true) }}</td>
                        <td><img alt="{{ item.source.name }}" src="{{ asset('images/news-logos/' ~ item.source.logo) }}" style="max-height:25px;" /></td>
                        <td>{{ item.title }}</td>
                        <td>{{ item.approved ? 'Ja' : 'Nee' }}</td>
                        <td><a href="{{ path('manage_rail_news_edit', { 'id': item.id }) }}">Bewerk</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
