{% extends('base.html.twig') %}

{% block content %}
    <br />
    <div align="center">
        <table class="design">
            <tr>
                <th><label for="trainTableIndex">{{ 'general.input.index' | trans }}</label></th>
                <td>
                    <select id="trainTableIndex" name="trainTableIndex">
                        {% for trainTableIndex in trainTableIndices %}
                            <option {{ trainTableIndexNumber == trainTableIndex.id ? 'selected="selected"' : '' }} value="{{ trainTableIndex.id }}">{{ trainTableIndex.name }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <th><label for="routeNumber">{{ 'general.input.route' | trans }}</label></th>
                <td><input id="routeNumber" maxlength="8" name="routeNumber" size="10" type="text" value="{{ routeNumber }}" /></td>
            </tr>
            <tr>
                <th>&nbsp;</th>
                <td><a class="somda-button" href="#" id="searchTrainTable" onclick="searchTrainTable(); return false;" title="{{ 'trainTable.input.button' | trans }}">{{ 'general.button.search' | trans }}</a></td>
            </tr>
        </table>
        <br />

        {% if trainTableLines | length %}
            <table class="design">
                <tr><th colspan="7">{{ 'trainTable.output.title' | trans | format(routeNumber) }}</th></tr>
                <tr>
                    {% for dayNumber in 0..6 %}
                        <th>{{ ('general.date.days.' ~ dayNumber) | trans }}</th>
                    {% endfor %}
                </tr>
                <tr>
                    {% for dayNumber in 1..7 %}
                        <td>
                            {% for routeTrain in routePredictions %}
                                {% if routeTrain.dayNumber == dayNumber %}
                                    {{ 'trainTable.output.planned.title' | trans }}:
                                    <a title="{{ 'trainTable.output.planned.base' | trans | format(routeTrain.numberOfSpots) }}">{{ routeTrain.trainNamePattern.name }}{% if routeTrain.position.name | length > 0 %} ({{ routeTrain.position.name }}){% endif %}</a><br />
                                {% endif %}
                            {% endfor %}
                            <table class="design">
                                {% for trainTable in trainTableLines %}
                                    {% if trainTable.routeOperationDays.runningOnDay(dayNumber - 1) %}
                                        <tr>
                                            <td><span class="tooltip" title="{{ trainTable.location.description }}">{{ trainTable.location.name }}</span></td>
                                            <td>{{ trainTable.action }}</td>
                                            <td>{{ trainTable.time | displayTime }}</td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </table>
                        </td>
                    {% endfor %}
                </tr>
            </table>
        {% elseif routeNumber is not null %}
            <p class="warn">{{ 'trainTable.output.notFound' | trans }}</p>
        {% endif %}
        <br />
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        function searchTrainTable() {
            let location = '{{ path('train_table_search', { 'trainTableYearId': 9999, 'routeNumber': 'routeNumber' }) }}';
            location = location.replace('9999', $('#trainTableIndex').val());
            location = location.replace('routeNumber', $('#routeNumber').val());
            document.location = location;
        }
    </script>
{% endblock %}
