{% extends('base.html.twig') %}

{% block content %}
    <br />
    <div align="center">
        <table>
            <tr>
                <th><label for="trainTableIndex">{{ 'general.input.index'|trans }}</label></th>
                <td>
                    <select id="trainTableIndex" name="trainTableIndex">
                        {% for trainTableIndex in trainTableIndices %}
                            <option {{ trainTableIndexNumber == trainTableIndex.id ? 'selected="selected"' : '' }} value="{{ trainTableIndex.id }}">{{ trainTableIndex.name }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <th><label for="route_number">{{ 'general.input.route'|trans }}</label></th>
                <td><input id="route_number" maxlength="8" name="route_number" size="10" type="text" value="{{ route_number }}" /></td>
            </tr>
            <tr>
                <th>&nbsp;</th>
                <td><a class="somda-button" href="#" id="searchTrainTable" onclick="searchTrainTable(); return false;" title="{{ 'trainTable.input.button'|trans }}">{{ 'general.button.search'|trans }}</a></td>
            </tr>
        </table>
        <br />

        {% if trainTableLines|length %}
            <table>
                <tr><th colspan="7">{{ 'trainTable.output.title'|trans|format(route_number) }}</th></tr>
                <tr>
                    {% for day_number in 0..6 %}
                        <th>{{ ('general.date.days.' ~ day_number)|trans }}</th>
                    {% endfor %}
                </tr>
                <tr>
                    {% for day_number in 1..7 %}
                        <td>
                            {% for routeTrain in routePredictions %}
                                {% if routeTrain.day_number == day_number %}
                                    {{ 'trainTable.output.planned.title'|trans }}:
                                    <span title="{{ 'trainTable.output.planned.base'|trans|format(routeTrain.number_of_spots) }}">{{ routeTrain.train_name_pattern.name }}{% if routeTrain.position.name|length > 0 %} ({{ routeTrain.position.name }}){% endif %}</span><br />
                                {% endif %}
                            {% endfor %}
                            <table>
                                {% for trainTable in trainTableLines %}
                                    {% if trainTable.routeOperationDays.runningOnDay(day_number - 1) %}
                                        <tr>
                                            <td><span title="{{ trainTable.location.description }}">{{ trainTable.location.name }}</span></td>
                                            <td>{{ trainTable.action }}</td>
                                            <td>{{ trainTable.time|displayTime }}</td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </table>
                        </td>
                    {% endfor %}
                </tr>
            </table>
        {% elseif route_number is not null %}
            <p class="warn">{{ 'trainTable.output.notFound'|trans }}</p>
        {% endif %}
        <br />
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        function searchTrainTable() {
            let location = '{{ path('train_table_search', { 'train_table_year_id': 9999, 'route_number': 'route_number' }) }}';
            location = location.replace('9999', $('#trainTableIndex').val());
            location = location.replace('route_number', $('#route_number').val());
            document.location = location;
        }
    </script>
{% endblock %}
