<table{% if spotter_version is defined and spotter_version %}  style="width:100%"{% endif %}>
    <tr>
        <th>{{ 'general.output.time' | trans }}</th>
        <th>{{ 'general.output.route' | trans }}</th>
        <th>{{ 'general.output.characteristic' | trans }}</th>
        <th>{{ 'general.output.startLocation' | trans }}</th>
        <th>{{ 'general.output.action' | trans }}</th>
        <th>{{ 'general.output.endLocation' | trans }}</th>
        {% if spotter_version is defined and spotter_version %}<th>Spotten</th>{% endif %}
    </tr>
    {% for trainTable in passingRoutes %}
        <tr>
            <td nowrap="nowrap">{{ trainTable['time'] | displayTime }}</td>
            <td nowrap="nowrap"><a href="{{ url('train_table_search', {'train_table_year_id': trainTableIndexNumber, 'route_number': trainTable['route_number'] }) }}">{{ trainTable['route_number'] }}</a></td>
            <td nowrap="nowrap">{{ trainTable[constant('App\\Repository\\TrainTableRepository::FIELD_TRANSPORTER_NAME')] }} - {{ trainTable[constant('App\\Repository\\TrainTableRepository::FIELD_CHARACTERISTIC_DESCRIPTION')] }}</td>
            <td nowrap="nowrap"><span title="{{ trainTable['fl_first_description'] }}">{{ trainTable['fl_first_name'] }}</span> ({{ trainTable['fl_first_time'] | displayTime }})</td>
            <td nowrap="nowrap">{{ ("general.action." ~ trainTable['action']) | trans }}</td>
            <td nowrap="nowrap"><span title="{{ trainTable['fl_last_description'] }}">{{ trainTable['fl_last_name'] }}</span> ({{ trainTable['fl_last_time'] | displayTime }})</td>
            {% if spotter_version is defined and spotter_version %}<td style="width:100%">&nbsp;</td>{% endif %}
        </tr>
    {% endfor %}
</table>
