{% extends('base.html.twig') %}

{% block content %}
    <div class="panel">
        <div class="panel-title">
            {{ specialRoute.startDate | displayDateTime }}{% if specialRoute.endDate is not null %}{{ 'general.date.till' | trans }} {{ specialRoute.endDate | displayDateTime }}{% endif %}
            {{ specialRoute.title }}
        </div>
        <div class="panel-content">
            {% if specialRoute.image | length %}
                <span class="special-route-image"><img alt="{{ specialRoute.title }}" src="{{ asset('images/materieel/' ~ specialRoute.image) }}" /></span>
            {% endif %}
            {{ specialRoute.text | raw }}
        </div>
    </div>
{% endblock %}
