<picture><source srcset="{{ absolute_url(asset('images/logos-somda/logo-1.webp')) }}" /><img alt="Somda" src="{{ absolute_url(asset('images/logos-somda/logo-1.png')) }}" /></picture>
<br />
<br />Op het forum van <a href="{{ absolute_url(path('home')) }}">Somda</a> is een reactie geplaatst in de discussie "{{ discussion.title | url_encode }}".
<br />
<br /><a href="{{ absolute_url(path('forum_discussion', { 'id': discussion.id, 'name': (discussion.title | url_encode) })) }}">Ga direct naar de forumdiscussie</a>.
