<picture><source srcset="{{ absolute_url(asset('images/logo-1.webp')) }}" /><img alt="Somda" src="{{ absolute_url(asset('images/logo.png')) }}" /></picture>
<br />
<br />Op het forum van <a href="{{ url('home') }}">Somda</a> is een reactie geplaatst in de discussie "{{ discussion.title }}".
<br />
<br /><a href="{{ url('forum_discussion', { 'id': discussion.id, 'name': (discussion.title | slug) }) }}">Ga direct naar de forumdiscussie</a>.
