<picture><source srcset="{{ asset('images/logos-somda/logo-1.webp') }}" /><img alt="Somda" src="{{ asset('images/logos-somda/logo-1.png') }}" /></picture>
<br />
<br />Op het forum van <a href="{{ path('home') }}">Somda</a> is een reactie geplaatst in de discussie "{{ discussion.title | url_encode }}".
<br />
<br /><a href="{{ path('forum_discussion', { 'id': discussion.id, 'name': (discussion.title | url_encode) }) }}">Ga direct naar de forumdiscussie</a>.
