<picture><source srcset="{{ absolute_url(asset('images/logos-somda/logo-1.webp')) }}" /><img alt="Somda" src="{{ absolute_url(asset('images/logos-somda/logo-1.png')) }}" /></picture>
<br />
<br /><strong>Jouw nieuwe wachtwoord voor <a href="{{ url('home') }}">Somda</a></strong>
<br />
<br />Jij of iemand anders heeft jouw e-mailadres gebruikt om een nieuw wachtwoord aan te vragen voor Somda.
<br />
<br />Jouw nieuwe wachtwoord is {{ newPassword }}
<br />
<br />Je kunt inloggen met jouw nieuwe wachtwoord op <a href="{{ url('login') }}">deze pagina</a>.
