<img alt="Somda" src="{{ asset('images/logos-somda/logo_1.png') }}" />
<br />
<br /><strong>Nieuwe registratie bij <a href="{{ path('home') }}">Somda</a></strong>
<br />
<br />{{ user.username }} heeft zich zojuist geregistreerd met e-mailadres {{ user.email }}
<br />
<br />Gebruikers met hetzelfde password: {% for samePasswordUser in samePasswordUsers %}{{ samePasswordUser.username }} ({{ samePasswordUser.id }}){% if not loop.last %}, {% endif %}{% endfor %}
