<picture><source srcset="{{ absolute_url(asset('images/logo-1.webp')) }}" /><img alt="Somda" src="{{ absolute_url(asset('images/logo-1.webp')) }}" /></picture>
<br />
<br /><strong>Nieuwe registratie bij <a href="{{ url('home') }}">Somda</a></strong>
<br />
<br />{{ user.username }} heeft zich zojuist geregistreerd met e-mailadres {{ user.email }}
