<picture><source srcset="{{ absolute_url(asset('images/logos-somda/logo-1.webp')) }}" /><img alt="Somda" src="{{ absolute_url(asset('images/logos-somda/logo-1.png')) }}" /></picture>
<br />
<br /><strong>Nieuwe registratie bij <a href="{{ absolute_url(path('home')) }}">Somda</a></strong>
<br />
<br />{{ user.username }} heeft zich zojuist geregistreerd met e-mailadres {{ user.email }}
<br />
<br />Gebruikers met hetzelfde password: {% for samePasswordUser in samePasswordUsers %}{{ samePasswordUser.username }} ({{ samePasswordUser.id }}){% if not loop.last %}, {% endif %}{% endfor %}
