<picture><source srcset="{{ asset('images/logos-somda/logo-1.webp') }}" /><img alt="Somda" src="{{ asset('images/logos-somda/logo-1.png') }}" /></picture>
<br />
<br />Onderstaande e-mail is via <a href="{{ path('home') }}">Somda</a> verzonden door "{{ sender.username }}".
<br />Somda neemt geen enkele verantwoordelijkheid voor de inhoud van deze e-mail!
<br />Misbruik kunt u melden via abuse@somda.nl.
<br />
<br />---------------------------
<br />{{ text | raw }}
<br />---------------------------
