<picture><source srcset="{{ asset('images/logos-somda/logo-1.webp') }}" /><img alt="Somda" src="{{ asset('images/logos-somda/logo-1.png') }}" /></picture>
<br />
<br />Onderstaande e-mail is via <a href="{{ path('home') }}">Somda</a> door een moderator verzonden naar gebruiker "{{ user.username }}".
<br />
<br />---------------------------
<br />{{ text | raw }}
<br />---------------------------
