<!DOCTYPE html>
<html lang="nl" xml:lang="nl" xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% if app.user and app.user.cookieOk == constant('App\\Entity\\User::COOKIE_OK') %}
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-2723197-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function googleTag() {
                dataLayer.push(arguments);
            }
            googleTag('js', new Date());
            googleTag('config', 'UA-2723197-1');
        </script>
    {% endif %}

    <link rel="stylesheet" href="{{ asset('css/base.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('css/web.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('css/menu-min.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('css/bootstrap-pagination-3.0.3-min.css') }}" type="text/css" />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/redmond/jquery-ui.css" type="text/css" />
    {% block stylesheets %}{% endblock %}

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="robots" content="index, follow" />
    <meta name="keywords" content="Somda" />
    <meta name="description" content="Somda" />
    <meta name="author" content="Peter van der Leek" />
    <meta name="generator" content="Peter van der Leek" />

    <meta name="HandheldFriendly" content="false" />
    <meta http-equiv="Cache-Control" content="no-cache"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, user-scalable=yes" />

    <title>{% if pageTitle is defined %}{{ pageTitle }} - {% endif %}Somda</title>

    <link href="{{ asset('favicon.ico') }}" rel="shortcut icon" type="image/x-icon" />

    <style type="text/css">
        .webp #header_image {
            background: url('{{ asset('images/logos-somda/logo-' ~ imageNumber ~ '.webp') }}') no-repeat;
        }
        .no-webp #header_image {
            background: url('{{ asset('images/logos-somda/logo-' ~ imageNumber ~ '.png') }}') no-repeat;
        }
    </style>
</head>
<body>
    <div id="wrap">
        {% include('header.html.twig') %}
        {% include 'partials/errorMessages.html.twig' %}
        {% if blockHelp is not null %}<p class="info">{{ blockHelp.text | raw }}</p>{% endif %}
        {% block content %}{% endblock %}
        {% include('footer.html.twig') %}
    </div>

    <script defer src="{{ asset('js/modernizr-webp-3.6.0.js') }}"></script>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="{{ asset('js/jquery.maskedinput-1.4.1.js') }}"></script>
    <script src="{{ asset('js/jquery-defaults.js') }}"></script>
    <script src="{{ asset('js/jquery-tablesorter.js') }}"></script>
    <script src="{{ asset('js/functions.js') }}"></script>
    <script async src="https://kit.fontawesome.com/be43109115.js" crossorigin="anonymous"></script>

    {# If applicable, jump to the requested forum-post #}
    {% if forumJump is defined and forumJump is not null %}
        <script>
            $(document).ready(function() {
                $('html,body').animate({ scrollTop: $('#{{ forumJump }}').offset().top }, 'slow');
            });
        </script>
    {% endif %}

    {% block javascripts %}{% endblock %}

    <script>
        function initializeImages() {
            let imgDefer = document.getElementsByTagName('img');
            for (let image = 0; image < imgDefer.length; image++) {
                if (imgDefer[image].getAttribute('data-src')) {
                    imgDefer[image].setAttribute('src', imgDefer[image].getAttribute('data-src'));
                }
            }
        }
        window.onload = initializeImages;
    </script>
</body>
</html>
