<div id="footer">
	<div class="ftr-left"><a href="{{ path('home') }}">Home</a></div>
	<div class="ftr-center">
		Copyright (C) 2003-{{ "now" | date('Y') }} Peter van der Leek, Houten
		<br /><br /><a href="{{ path('about') }}">Over Somda</a>
		- <a href="{{ path('statistics') }}">Somda statistieken</a>
	 	- <a href="{{ path('feeds') }}">Somda feeds</a>
	</div>
	<div class="ftr-right"></div>
</div>
