<div id="header">
	<div id="logo-graphic">
		<h1><a href="/" title="Somda - Voor en door treinspotters" style="background: url('{{ asset('images/logos-somda/logo_' ~ imageNumber ~ '.png') }}') no-repeat;">Somda</a></h1>
		<h2>Voor en door treinspotters</h2>
	</div>
	<div id="newsflash">
		{% if headerType == 'banner' %}
			<a href="/click_out.php?banner_id={{ headerContent.id }}" target="_blank">
				<img alt="'.$headerbanner_customer.' {{ headerContent.description }}" height="100" src="/images/banners/{{ headerContent.image }}" />
			</a>
		{% else %}
			<table class="moduletable"><tr><td>
				<table class="contentpaneopen"><tr><td class="contentheading" width="100%"><a href="/nieuws_home/" class="contentpagetitle">{{ headerContent.title }}</a></td></tr></table>
				<table class="contentpaneopen"><tr>
					<td valign="top"><p>{{ headerContent.introduction }}</p></td>
				</tr><tr>
					<td valign="top"><a href="/nieuws_home/">Lees verder...</a></td>
				</tr></table>
			</td></tr></table>
		{% endif %}
	</div>
</div>
<div id="mbar"><div id="nav">
	<div class="menuleft">&nbsp;</div><div class="menuright">&nbsp;</div>
	<ul class="menu">
		<li><a href="/index.php?force=home"><span>Home</span></a></li>
		{% set lastParentId = 0 %}
		{% for block in menuStructure %}
			{% if block['parent_id'] != lastParentId %}
				{% if lastParentId > 0 %}</ul></li>{% endif %}
				<li class="haschild">
				<a href="/{{ block['parent_url'] ? block['parent_url'] : ("index.php?blokid=" ~ block['parent_id']) }}" class="haschild"><span>{{ block['parent_name'] }}</span></a>
				<ul>
				{% set lastParentId = block['parent_id'] %}
			{% endif %}
			<li><a href="/{{ block['url'] ? block['url'] : ("index.php?blokid=" ~ block['id']) }}"><span>{{ block['name'] }}</span></a></li>
		{% endfor %}
	</ul>
</li>
</ul>
</div></div>

<div class="clear">&nbsp;</div>

<div class="breadcrumb">Je bent hier: {{ breadcrumb | raw }}</div>
