<div id="header">
	<div id="logo-graphic">
		<h1><a href="{{ path('home') }}" id="header_image" title="Somda - Voor en door treinspotters">Somda</a></h1>
		<h2>Voor en door treinspotters</h2>
	</div>
	{% if headerType is defined %}
		<div class="news-flash">
			{% if headerType == 'banner' %}
				<a href="{{ path('banner_click_out', { 'id': headerContent.id }) }}" rel="noopener sponsored" target="_blank">
					<img alt="{{ headerContent.customer.name }} {{ headerContent.description }}" height="130" src="{{ asset('images/banners/' ~ headerContent.image) }}" />
				</a>
			{% else %}
				<div class="news-flash-title"><a href="{{ headerContent.url }}" rel="noopener" target="_blank">{{ headerContent.title }}</a></div>
				{{ headerContent.introduction }}
			{% endif %}
		</div>
	{% endif %}
</div>
