{% extends('base.html.twig') %}

{% block content %}
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        {% if app.user.cookieOk == constant('App\\Entity\\User::COOKIE_UNKNOWN') %}
            <br /><p class="warn">Somda maakt gebruik van <a href="{{ path('disclaimer') }}">cookies</a>. Voor het gebruik van <a href="{{ path('disclaimer') }}">cookies</a> voor Google Analytics is jouw toestemming vereist.
            <br />Het weigeren van het opslaan van cookies heeft geen effect op het functioneren van Somda.
            <br /><br /><a href="{{ path('disclaimer_choice', { 'choice': constant('App\\Entity\\User::COOKIE_OK') }) }}">Ja, Somda mag cookies op mijn PC opslaan ten behoeve van Google Analytics</a>
            <br /><a href="{{ path('disclaimer_choice', { 'choice': constant('App\\Entity\\User::COOKIE_NOT_OK') }) }}">Nee, Somda mag geen cookies op mijn PC opslaan ten behoeve van Google Analytics</a></p>
            <p class="info">Een uitgebreide uitleg over cookies is <a href="{{ path('disclaimer') }}">hier</a> te vinden.</p>
        {% endif %}

        <br />
        <div class="panel-buttons">
            <a class="somda-button" href="{{ path('settings') }}">Mijn instellingen</a>
            <a class="somda-button" href="{{ path('profile') }}">Mijn profiel</a>
            <a class="somda-button" href="{{ path('forum_unread') }}">Ongelezen forumberichten</a>
            <a class="donation-button" href="https://www.whydonate.nl/donate/somda/nl/" target="_blank">Vrijwillige donatie</a>
        </div>
    {% endif %}

    <div class="home-container">
        {% for module in layout %}
            {% set minimized = false %}
            {% if module ends with '-min' %}
                {% set minimized = true %}
                {% set module = module[:(module | length) - 4] %}
            {% endif %}
            <div class="home-block" id="home_block_{{ module }}">
                <div class="home-panel">
                    <div class="panel-title">
                        {{ ('dashboard.panel.' ~ module) | trans }}
                        {% if module == 'drgl' or module == 'werkzaamheden' %}
                            <a href="{{ path('feed_rss', { 'id': 'specialRoutes' }) }}" rel="noopener" target="_blank"><i class="fas fa-rss rss-link"></i></a>
                        {% elseif module == 'spots' %}
                            <a href="{{ path('feed_rss', { 'id': 'spots' }) }}" rel="noopener" target="_blank"><i class="fas fa-rss rss-link"></i></a>
                        {% endif %}
                        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                            <div class="panel-actions">
                                {% if minimized %}
                                    <a href="#" onclick="togglePanel('home_panel_{{ module }}'); return false;"><i class="fa fa-plus-square" id="home_panel_{{ module }}_toggle"></i></a>
                                {% else %}
                                    <a href="#" onclick="togglePanel('home_panel_{{ module }}'); return false;"><i class="fa fa-minus-square" id="home_panel_{{ module }}_toggle"></i></a>
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="panel-content {% if minimized %}panel-content-hidden{% else %}panel-content-shown{% endif %}" id="home_panel_{{ module }}">{% include 'home/' ~ module ~ '.html.twig' %}</div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <script>
            function updateLayout()
            {
                let layout = $('.home-container').sortable('toArray');
                // Walk through the layout and check which panels are minimized
                layout.forEach(function (item, index) {
                    item = item.replace('home_block_', '');
                    if ($('#home_panel_' + item + '_toggle').hasClass('fa-plus-square')) {
                        layout[index] = item + '-min';
                    } else {
                        layout[index] = item;
                    }
                });
                $.ajax({
                    url: '{{ path('home_update_layout_json', { 'layout': 'dashboard' }) }}'.replace('/dashboard/', '/' + layout.join(';') + '/')
                })
            }

            $(document).ready(function() {
                $('.home-container').sortable({
                    cursor: 'move',
                    handle: '.panel-title',
                }).on('sortupdate', updateLayout());
            });

            function togglePanel(panelId)
            {
                let panel = $('#' + panelId);
                if (panel.hasClass('panel-content-shown')) {
                    panel.removeClass('panel-content-shown').addClass('panel-content-hidden');
                    $('#' + panelId + '_toggle').removeClass('fa-minus-square').addClass('fa-plus-square');
                } else {
                    panel.removeClass('panel-content-hidden').addClass('panel-content-shown');
                    $('#' + panelId + '_toggle').removeClass('fa-plus-square').addClass('fa-minus-square');
                }
                updateLayout();
            }
        </script>
    {% endif %}
{% endblock %}
