{% extends('mobile/base.html.twig') %}

{% block content %}
    <div>Jouw ingevoerde spots</div>
    <table>
        <tr>
            <th>Datum</th>
            <th>Materieel</th>
            <th>Trein</th>
            <th>Locatie</th>
            <th>Feedback</th>
        </tr>
        {% for spot in spots %}
            <tr>
                <td>{{ spot.spot_date|displayDateTime(false, true) }}</td>
                <td>{{ spot.train.number }}</td>
                <td>{{ spot.route.number }} {{ spot.position.name }}
                <td><span title="{{ spot.location.description }}">{{ spot.location.name }}</span></td>
                <td>
                    {% if spot.input_feedback_flag == 0 %}
                        Spot opgeslagen
                    {% else %}
                        {% if spot.input_feedback_flag b-and constant('App\\Entity\\Spot::INPUT_FEEDBACK_TRAIN_NEW') %}
                            <strong>Materieel niet bekend, is het correct?</strong><br />
                        {% endif %}
                        {% if spot.input_feedback_flag b-and constant('App\\Entity\\Spot::INPUT_FEEDBACK_TRAIN_NEW_NO_PATTERN') %}
                            <strong>Dit materieel is nieuw, is het correct?</strong><br />
                        {% endif %}
                        {% if spot.input_feedback_flag b-and constant('App\\Entity\\Spot::INPUT_FEEDBACK_ROUTE_NEW') %}
                            <strong>Dit treinnummer is nieuw, is het correct?</strong><br />
                        {% endif %}
                        {% if spot.input_feedback_flag b-and constant('App\\Entity\\Spot::INPUT_FEEDBACK_ROUTE_NOT_ON_DAY') %}
                            <strong>Dit treinnummer rijdt niet op {{ spot.spot_date|displayDateTime(false, true) }}, is het correct?</strong><br />
                        {% endif %}
                        {% if spot.input_feedback_flag b-and constant('App\\Entity\\Spot::INPUT_FEEDBACK_ROUTE_NOT_ON_LOCATION') %}
                            <strong>Dit treinnummer komt op {{ spot.spot_date|displayDateTime(false, true) }} niet langs {{ spot.location.description }}, is de locatie correct?</strong><br />
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="6">
                <a class="somda-button" href="{{ path('spot_input') }}">Meer spots invoeren</a>
            </td>
        </tr>
    </table>
{% endblock %}
