{% extends('base.html.twig') %}

{% block content %}
    <div class="panel">
        <div class="panel-title">Beheer spoornieuws bericht</div>
        <div class="panel-content panel-no-background">
            {{ form_start(form, { 'attr': { 'id': 'rail_news_form' } }) }}
                <table>
                    <tr><td><strong>Datum</strong></td><td>{{ railNews.timestamp | displayDateTime(true) }}</td></tr>
                    <tr><td><strong>Bron</strong></td><td><img alt="{{ railNews.source.name }}" class="rail-news-logo-overview" src="{{ asset('images/news-logos/' ~ railNews.source.logo) }}" /></td></tr>
                    <tr><td><strong>Link</strong></td><td><a href="{{ railNews.url }}" rel="noopener" target="_blank">{{ railNews.url }}</a></td></tr>
                    {{ form_row(form.title) }}
                    {{ form_row(form.introduction) }}
                    {{ form_row(form.active) }}
                    {{ form_row(form.automaticUpdates) }}
                    <tr>
                        <td>&nbsp;</td>
                        <td>
                            <a class="somda-button" href="#" onclick="$('#rail_news_form').submit(); return false;">Opslaan</a>
                            <a class="somda-button" href="{{ path('manage_rail_news') }}">Terug naar het overzicht</a>
                        </td>
                    </tr>
                </table>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
