{% extends('base.html.twig') %}

{% block content %}
    <br />

    <div class="panel">
        <div class="panel-title">Spotpunt "{{ poi.name }}"</div>
        <div class="panel-content">
            <table class="nowrap">
                <tr><th>Provincie</th><td>{{ poi.category.name }}</td></tr>
                <tr><th>Naam</th><td>{{ poi.name }}</td></tr>
                <tr><th>Voorbeeld-foto</th><td><img src="/images/spotpunten/{{ poi.photo }}"></td></tr>
                <tr><th>Locatie</th><td>{{ poi.location.name }} - <a href="{{ path('passing_routes_search', { 'train_table_year_id': 0, 'day_number': ('now'|date('N')) - 1, 'start_time': ('5 minutes ago'|date('H:i')), 'end_time': ('+30 minutes'|date('H:i')), 'location_name': poi.location_for_routes.name }) }}">Doorkomststaat</a></td></tr>
                <tr>
                    <th>Traject</th>
                    <td>
                        <span title="{{ poi.location_section1.description }}">{{ poi.location_section1.name }}</span> -
                        <span title="{{ poi.location_section2.description }}">{{ poi.location_section2.name }}</span>
                    </td>
                </tr>
                <tr><th>Kilometrage</th><td>{{ poi.kilometre }}</td>
                <tr><th>GPS</th><td><a href="{{ poi.google_url }}" target="_blank">{{ poi.gps }}</a></td>
                <tr><th>Zon-stand winter</th><td>{{ poi.sun_position_winter }}</td>
                <tr><th>Zon-stand zomer</th><td>{{ poi.sun_position_summer }}</td>
                <tr><th>Route met OV</th><td>{{ poi.text.route_public_transport }}</td>
                <tr><th>Route met de auto</th><td>{{ poi.text.route_car }}</td>
                <tr><th>Bijzonderheden</th><td>{{ poi.text.particularities }}</td>
            </table>
        </div>
    </div>
{% endblock %}
