{% extends('base.html.twig') %}

{% block content %}
    <div class="home-panel separate-panel">
        <div class="home-panel-title"><i class="fas fa-comments"></i> Overzicht van laatste 100 forum-meldingen</div>
        <div class="home-panel-content">
            <table class="design">
                <tr>
                    <th>Status</th>
                    <th>Discussie</th>
                    <th>Melder(s)</th>
                    <th>Aantal meldingen</th>
                    <th>Aantal notities</th>
                    <th>&nbsp;</th>
                </tr>
                {% for alert in alerts %}
                    <tr>
                        <td>{{ alert.closed ? 'Afgehandeld' : 'Open' }}</td>
                        <td>{{ alert.discussionTitle }}</td>
                        <td>
                            {% for key, senderId in alert.senderIds | split(',') %}
                                {{ senderId | displayUser((alert.senderUsernames | split(','))[key]) | raw }}<br />
                            {% endfor %}
                        </td>
                        <td>{{ alert.numberOfAlerts }}</td>
                        <td>{{ alert.numberOfNotes }}</td>
                        <td>
                            <a class="somda-button" href="{{ path('forum_discussion_post', { 'id': alert.discussionId, 'name': (alert.discussionTitle | url_encode), 'postId': alert.postId }) }}">Bekijk bericht</a>
                            <a class="somda-button" href="{{ path('forum_discussion_post_alerts', { 'id': alert.postId }) }}">Bekijk melding</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
