{% extends('base.html.twig') %}

{% block content %}
    <div class="panel">
        <div class="panel-title"><i class="fas fa-comments"></i> Bericht bij de beheerders melden uit de discussie "{{ post.discussion.title }}"</div>
        <div class="panel-content panel-no-background">
            {{ form_start(form, { 'attr': { 'id': 'alert_form' } }) }}
                <table align="center">
                    <tr>
                        <td colspan="2">
                            Gebruik deze functie om de moderators en administrators op de hoogte te stellen van berichten die verkeerd geplaatst zijn of in overtreding zijn met de regels van het forum.
                            <br />
                            <br />LET OP: Dit is niet bedoeld om vragen te stellen, gebruik hiervoor het forum of de feedback functie.
                            <br />
                            <br />Houd er rekening mee dat je e-mailadres zal worden getoond aan de moderators bij het gebruik van deze functie.
                        </td>
                    </tr>
                    {{ form_row(form.comment) }}
                    <tr>
                        <td>&nbsp;</td>
                        <td>
                            <a class="somda-button" href="#" id="alert_button" onclick="disableMeAndSubmitForm('alert_button', 'alert_form'); return false;">Meld bericht</a>
                            <a class="somda-button" href="{{ path('forum_discussion_post', { 'id': post.discussion.id, 'postId': post.id, 'name': (post.discussion.title | slug)}) }}">Terug naar het bericht</a>
                        </td>
                    </tr>
                </table>
            {{ form_end(form) }}
        </div>
        <table align="center">
            {% include 'forum/post.html.twig' with { 'mayPost': false, 'userIsModerator': false, 'postIsUnread': false } %}
        </table>
    </div>
{% endblock %}
