{% extends('base.html.twig') %}

{% block content %}
    {% set alertIsClosed = true %}
    {% for alert in post.alerts %}
        {% if not alert.closed %}{% set alertIsClosed = false %}{% endif %}
    {% endfor %}
    <br />

    {% if alertIsClosed %}
        <p class="alert">Deze melding is gesloten</p>
    {% else %}
        <a class="somda-button" href="{{ path('forum_discussion_post_alerts_close', { 'id': post.id }) }}"><span>Sluit melding</span></a>
        <br /><br />
    {% endif %}

    {% for alert in post.alerts %}
        <p class="info">Commentaar van melder <a target="_blank" href="/gebruikerslijst/{{ alert.sender.id }}/">{{ alert.sender.username }}</a> op {{ alert.timestamp | date('d-m-Y') }} om {{ alert.time | date('H:i:s') }}: <strong>{{ alert.comment }}</strong></p>
    {% endfor %}

    <table align="center" class="design" width="98%">
        <tr><th colspan="3">{{ post.discussion.title }}</th></tr>
        {% include 'forum/post.html.twig' with { 'mayPost': false, 'userIsModerator': false, 'postIsUnread': false } %}
    </table>
    <br />
    <table class="design">
        <tr><th colspan="4">Commentaar door moderators bij deze melding</th></tr>
        {% for alert in post.alerts %}
            {% for note in alert.notes %}
                <tr>
                    <td>{{ note.author.id | displayUser(note.author.username) | raw }}</td>
                    <td>{{ note.timestamp | date('d-m-Y H:i:s') }}</td>
                    <td>{{ note.text }}</td>
                    <td>{{ note.sentToReporter ? 'Ja' : 'Nee' }}</td>
                </tr>
            {% endfor %}
        {% endfor %}
    </table>
    <br />
    {{ form_start(form, { 'attr': { 'id': 'alert_note_form' } }) }}
        <table class="design">
            {{ form_row(form.text) }}
            {{ form_row(form.sentToReporter) }}
            <tr>
                <td>&nbsp;</td>
                <td>
                    <a class="somda-button" href="#" onclick="$('#alert_note_form').submit(); return false;"><span>Voeg toe</span></a>
                    <a class="somda-button" href="{{ path('forum_discussion_post', { 'id': post.discussion.id, 'postId': post.id, 'name': (post.discussion.title | url_encode )}) }}"><span>Terug naar het bericht</span></a>
                </td>
            </tr>
        </table>
    {{ form_end(form) }}
    <br />
{% endblock %}
