{% extends('base.html.twig') %}

{% block content %}
    <div class="panel">
        <div class="panel-title"><i class="fas fa-comments"></i> Verplaatsen van "{{ discussion.title }}"</div>
        <div class="panel-content panel-no-background">
            {{ form_start(form, { 'attr': { 'id': 'move_form' } }) }}
                <table>
                    {{ form_row(form.forum) }}
                    <tr>
                        <td>&nbsp;</td>
                        <td>
                            <a class="somda-button" href="#" id="move_button" onclick="disableMeAndSubmitForm('move_button', 'move_form'); return false;">Verplaatsen</a>
                            <a class="somda-button" href="{{ path('forum_discussion', { 'id': discussion.id, 'name': (discussion.title | slug) }) }}">Terug naar de discussie</a>
                        </td>
                    </tr>
                </table>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
