{% extends('base.html.twig') %}

{% block content %}
    <div class="panel">
        <div class="panel-title"><i class="fas fa-comments"></i> {{ post.discussion.title }}</div>
        <div id="text_editor"></div>
        <div class="panel-content panel-no-background">
            {{ form_start(form, { 'attr': { 'id': 'edit_form' } }) }}
                <table>
                    {% if form.title is defined %}{{ form_row(form.title) }}{% endif %}
                    {{ form_row(form.signature_on) }}
                    {{ form_row(form.edit_reason) }}
                    {% if form.editAsModerator is defined %}{{ form_row(form.editAsModerator) }}{% endif %}
                    <tr>
                        <td>&nbsp;</td>
                        <td>
                            <a class="somda-button" href="#" id="edit_button" onclick="disableMeAndSubmitForm('edit_button', 'edit_form'); return false;">Bewerken</a>
                            <a class="somda-button" href="{{ path('forum_discussion', { 'id': post.discussion.id, 'name': (post.discussion.title|slug) }) }}">Terug naar de discussie</a>
                        </td>
                    </tr>
                </table>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {% include('ckeditor.js.html.twig') %}

    <script>
        $('#edit_form').submit(function() {
            $('#forum_post_text').val(window.editor.getData());
        });
    </script>
{% endblock %}
