{% extends('base.html.twig') %}

{% block content %}
    <div class="moduleS1" style="margin-bottom:0;"><div><h3 id="disc_title"><i class="fas fa-comments"></i> {{ post.discussion.title }}</h3></div></div>
    <center>
        {{ form_start(form, { 'attr': { 'id': 'edit_form' } }) }}
        <table class="design">
            {{ form_row(form.text) }}
            {{ form_row(form.signatureOn) }}
            {{ form_row(form.editReason) }}
            {% if form.editAsModerator is defined %}{{ form_row(form.editAsModerator) }}{% endif %}
            <tr>
                <td>&nbsp;</td>
                <td>
                    <div class="button_clear"><div class="somda-button-left"><div class="blank_home"><a href="#" onclick="$('#edit_form').submit(); return false;"><span>Bewerken</span></a></div></div></div>
                    <div class="button_clear"><div class="somda-button-left"><div class="blank_home"><a href="{{ path('forum_discussion', { 'id': post.discussion.id, 'name': (post.discussion.title | url_encode )}) }}"><span>Terug naar de discussie</span></a></div></div></div>
                </td>
            </tr>
        </table>
        {{ form_end(form) }}
    </center>
    <br />
{% endblock %}
