{% extends('base.html.twig') %}

{% block content %}
    <div class="panel">
        <div class="panel-title">Forum: <a href="{{ path('forum_forum', { 'id': forum.id, 'name': (forum.name | slugify) }) }}">{{ forum.category.name }} - {{ forum.name }}</a></div>
        <div class="panel-content">
            <a class="somda-button" href="{{ path('forum') }}">Terug naar het forumoverzicht</a>
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <a class="somda-button" href="{{ path('forum_unread') }}">Ongelezen berichten</a>
                {% if forum.type != constant('App\\Entity\\ForumForum::TYPE_ARCHIVE') %}
                    <a class="somda-button" href="{{ path('forum_forum_new_discussion', { 'id': forum.id }) }}">{{ 'forum.newDiscussion' | trans }}</a>
                {% endif %}
            {% endif %}
            <br /><br />

            <table>
                <tr>
                    {% if userIsModerator %}<th><a href="#" onclick="moderateCombine(); return false;"><i class="fas fa-compress-alt" title="Combineer discussies"></i></a></th>{% endif %}
                    <th colspan="2">{{ 'forum.discussion.subject' | trans }}</th>
                    <th>{{ 'forum.number.posts' | trans }}</th>
                    <th>{{ 'forum.author' | trans }}</th>
                    <th>{{ 'forum.number.viewed' | trans }}</th>
                    <th>{{ 'forum.lastPost' | trans }}</th>
                </tr>
                {% for discussion in discussions %}
                    <tr>
                        {% if userIsModerator %}<td><input name="sel{{ discussion.id }}" type="checkbox" /></td>{% endif %}
                        <td>
                            {% if discussion['locked'] %}
                                <i class="fas fa-lock"></i>
                            {% elseif discussion['posts'] > 1 %}
                                <i class="fas fa-comments"></i>
                            {% else %}
                                <i class="fas fa-comment"></i>
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{ path('forum_discussion', { 'id': discussion['id'], 'name': (discussion['title'] | slugify) }) }}">{{ discussion['title'] }}</a>
                            {% if forum.type != constant('App\\Entity\\ForumForum::TYPE_ARCHIVE') and not discussion['discussion_read'] %} <i class="color-orange fas fa-comment-dots"></i>{% endif %}
                        </td>
                        <td>{{ discussion['posts'] }}</td>
                        <td>{{ discussion['author_id'] | displayUser(discussion['author_username']) | raw }}</td>
                        <td>{{ discussion['viewed'] }}</td>
                        <td>{{ discussion['max_post_timestamp'] | displayDateTime(true) }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {% if userIsModerator %}
        <script>
            function moderateCombine() {
                let discussionId1 = 0;
                let discussionId2 = 0;
                let checkboxes = document.getElementsByTagName('input');
                for (let box = 0; box < checkboxes.length; box++)  {
                    if (checkboxes[box].type === 'checkbox' && checkboxes[box].checked) {
                        if (discussionId1 > 0) {
                            discussionId2 = parseInt(checkboxes[box].name.substr(3));
                            break;
                        }
                        discussionId1 = parseInt(checkboxes[box].name.substr(3));
                    }
                }
                if (discussionId1 > 0 && discussionId2 > 0) {
                    document.location = '{{ path('forum_discussion_moderate_combine', { 'id1': 1234, 'id2': 5678 }) }}'.replace('/1234/', '/' + discussionId1 + '/').replace('/5678/', '/' + discussionId2 + '/');
                } else {
                    alert('Selecteer 2 discussies om te combineren');
                }
            }
        </script>
    {% endif %}
{% endblock %}
