{% extends('base.html.twig') %}

{% block content %}
    <br />
    <a class="somda-button" href="{{ path('forum_search') }}">{{ 'forum.search' | trans }}</a>
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <a class="somda-button" href="{{ path('forum_unread') }}">Alle ongelezen berichten</a>
    {% endif %}
    <br />

    <div class="panel">
        <div class="panel-title">Forum overzicht</div>
        <div class="panel-content">
            <table>
                <tr>
                    <th colspan="2">{{ 'forum.category' | trans }}</th>
                    <th>{{ 'forum.number.discussions' | trans }}</th>
                </tr>
                {% for category in categories %}
                    {% if category['forums'] | length > 0 %}
                        <tr><th colspan="4">{{ category['name'] }}</th></tr>
                        {% for forum in category['forums'] %}
                            <tr>
                                <td><i class="fas fa-{% if forum['type'] == constant('App\\Entity\\ForumForum::TYPE_ARCHIVE') %}archive{% else %}comments{% endif %}"></i></td>
                                <td><a href="{{ path('forum_forum', { 'id': forum['id'], 'name': forum['name'] }) }}">{{ forum['name'] }}</a></td>
                                <td>
                                    {{ forum['numberOfDiscussions'] }}
                                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED')
                                        and forum['type'] != constant('App\\Entity\\ForumForum::TYPE_MODERATORS_ONLY')
                                        and forum['type'] != constant('App\\Entity\\ForumForum::TYPE_ARCHIVE')
                                    %}({{ forum['numberOfUnreadDiscussions'] }} ongelezen){% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
