{% extends('base.html.twig') %}

{% block content %}
    <br />
    <center>
        {{ form_start(form, { 'attr': { 'id': 'discussion_form' } }) }}
        <table>
            {{ form_row(form.title) }}
            {{ form_row(form.text) }}
            {{ form_row(form.signatureOn) }}
            <tr>
                <td>&nbsp;</td>
                <td>
                    <a class="somda-button" href="#" onclick="$('#discussion_form').submit(); return false;">Start nieuwe discussie</a>
                    <a class="somda-button" href="{{ path('forum_forum', { 'id': forum.id, 'name': (forum.name | slugify) }) }}">Terug naar de forum-categorie</a>
                </td>
            </tr>
        </table>
        {{ form_end(form) }}
    </center>
    <br />
{% endblock %}
