{% extends('base.html.twig') %}

{% block content %}
    <div class="panel">
        <div class="panel-title"><i class="fas fa-comments"></i> Nieuwe discussie</div>
        <div class="panel-content panel-no-background">
            {{ form_start(form, { 'attr': { 'id': 'discussion_form' } }) }}
            <table>
                {{ form_row(form.title) }}
                {{ form_row(form.text) }}
                {{ form_row(form.signatureOn) }}
                <tr>
                    <td>&nbsp;</td>
                    <td>
                        <a class="somda-button" href="#" id="discussion_button" onclick="disableMeAndSubmitForm('discussion_button', 'discussion_form'); return false;">Start nieuwe discussie</a>
                        <a class="somda-button" href="{{ path('forum_forum', { 'id': forum.id, 'name': (forum.name | slug) }) }}">Terug naar de forumcategorie</a>
                    </td>
                </tr>
            </table>
            {{ form_end(form) }}
        </div>

        {% include 'forum/example.html.twig' with { 'user': app.user } only %}

    </div>
{% endblock %}

{% block javascripts %}
    {{ include('forum/example.js.html.twig') }}
{% endblock %}
