{% extends('base.html.twig') %}

{% block content %}
    <div class="panel">
        <div class="panel-title"><i class="fas fa-comments"></i> Nieuwe discussie</div>
        <div id="text_editor"></div>
        <div class="panel-content panel-no-background">
            {{ form_start(form, { 'attr': { 'id': 'discussion_form' } }) }}
            <table>
                {{ form_row(form.title) }}
                {{ form_row(form.signature_on) }}
                <tr>
                    <td>&nbsp;</td>
                    <td>
                        <a class="somda-button" href="#" id="discussion_button" onclick="disableMeAndSubmitForm('discussion_button', 'discussion_form'); return false;">Start nieuwe discussie</a>
                        <a class="somda-button" href="{{ path('forum_forum', { 'id': forum.id, 'name': (forum.name|slug) }) }}">Terug naar de forumcategorie</a>
                    </td>
                </tr>
            </table>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {% include('ckeditor.js.html.twig') %}

    <script>
        $('#discussion_form').submit(function() {
            $('#forum_discussion_text').val(window.editor.getData());
        });
    </script>
{% endblock %}
