<tr>
    <th colspan="{{ is_granted('IS_AUTHENTICATED_REMEMBERED') ? 2 : 3 }}" style="text-align:left;">
        {% if userIsModerator %}<input name="sel{{ post.id }}" type="checkbox" />{% endif %}
        <a id="p{{ post.id }}"></a>
        {% if postIsUnread and not firstUnreadAnchorDone %}
            <a id="new_post"></a>
            {% set firstUnreadAnchorDone = true %}
        {% endif %}
        <a href="{{ path('forum_discussion_post', { 'id': post.discussion.id, 'name': (post.discussion.title | url_encode), 'postId': post.id }) }}">
            {% if postIsUnread %}<i class="fas fa-comment-dots"></i>{% else %}<i class="fas fa-comment"></i>{% endif %}
        </a> {{ post.timestamp | date('d-m-Y H:i:s') }}
    </th>
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <th>
            <a href="{{ path('forum_discussion_post_alert', { 'id': post.id }) }}" rel="nofollow" title="Klik hier om dit bericht aan de beheerders te melden. Gebruik dit voor bijvoorbeeld overtredingen van forumregels"><font color="#FFFFFF">Meld bericht</font></a>
            {% if userIsModerator and (post.alerts | length) > 0 %}
                <br /><a href="{{ path('forum_discussion_post_alerts', { 'id': post.id }) }}" title="Er zijn meldingen gedaan over dit bericht, klik om ze te bekijken"><font color="#DD1111">Meldingen</font></a>
            {% endif %}
        </th>
    {% endif %}
</tr><tr>
    <td class="info" nowrap="nowrap">
        {{ post.author.id | displayUser(post.author.username) | raw }}
        {% if post.author in post.discussion.forum.moderators %}
            <br /><strong>Moderator</strong>
        {% endif %}
        {% if userIsModerator and post.author.info.company is not null %}
            <br /><strong>-- {{ post.author.info.company.name }} --</strong>
        {% endif %}
        {% if post.author.info.avatar | length > 0 %}
            <br /><img alt="{{ post.author.username }}" src="{{ asset('images/avatar/' ~  post.author.info.avatar) }}" />
        {% endif %}
        {% if post.author.info.city | length > 0 and is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <br />{{ post.author.info.city }}
        {% endif %}
        <br />
        {% if post.author.info.twitterAccount | length > 0 %}
            <a href="https://twitter.com/#!/{{ post.author.info.twitterAccount }}" rel="ugc" target="_blank"><i class="fab fa-twitter" title="Twitter {{ post.author.info.twitterAccount }}"></i></a>
        {% endif %}
        {% if post.author.info.facebookAccount | length > 0 %}
            <a href="https://www.facebook.com/{{ post.author.info.facebookAccount }}" rel="ugc" target="_blank"><i class="fab fa-facebook" title="Facebook {{ post.author.info.facebookAccount }}"></i></a>
        {% endif %}
        {% if post.author.info.youtubeAccount | length > 0 %}
            <a href="https://www.youtube.com/user/{{ post.author.info.youtubeAccount }}" rel="ugc" target="_blank"><i class="fab fa-youtube" title="Youtube {{ post.author.info.youtubeAccount }}"></i></a>
        {% endif %}
        {% if post.author.info.flickrAccount | length > 0 %}
            <a href="https://www.flickr.com/photos/{{ post.author.info.flickrAccount }}" rel="ugc" target="_blank"><i class="fab fa-flickr" title="Flickr {{ post.author.info.flickrAccount }}"></i></a>
        {% endif %}
    </td>
    <td class="text">{{ post | displayForumPost | raw }}</td>
    <td class="buttons">
        <table>
            {% if mayPost and not post.discussion.locked %}
                <tr><td style="border:none;"><a class="somda-button" href="{{ path('forum_discussion_post_reply', { 'id': post.id }) }}">Reageer</a></td></tr>
            {% endif %}
            {% if userIsModerator or (mayPost and not post.discussion.locked and post.author == app.user) %}
                <tr><td style="border:none;"><a class="somda-button" href="{{ path('forum_discussion_post_edit', { 'id': post.id }) }}">Bewerk</a>
            {% endif %}
        </table>
    </td>
</tr>
