{% extends('base.html.twig') %}

{% block content %}
    <div class="moduleS1" style="margin-bottom:0;"><div>
        <h3 id="disc_title">
            <img alt="" border="0" src="{{ asset('images/forum/folder_' ~ (post.discussion.locked ? 'l' : 'u') ~ 'br.gif') }}" />
            {% if post.discussion.type == 1 %}<img height="16" src="{{ asset('images/forum/sticky.gif') }}" width="16" />{% endif %}
            {% if post.discussion.type == 1 %}<img height="24" src="{{ asset('images/forum/announcement.png') }}" width="28" /> Mededeling: {% endif %}
            {{ post.discussion.title }}
        </h3>
    </div></div>
    <center>
        {{ form_start(form, { 'attr': { 'id': 'reply_form' } }) }}
        <table class="design">
            {{ form_row(form.text) }}
            {{ form_row(form.signatureOn) }}
            <tr>
                <td>&nbsp;</td>
                <td>
                    <div class="button_clear"><div class="somda-button-left"><div class="blank_home"><a href="#" onclick="$('#reply_form').submit(); return false;"><span>Reageer</span></a></div></div></div>
                    <div class="button_clear"><div class="somda-button-left"><div class="blank_home"><a href="{{ path('forum_discussion', { 'id': post.discussion.id, 'name': (post.discussion.title | url_encode) }) }}"><span>Terug naar de discussie</span></a></div></div></div>
                </td>
            </tr>
        </table>
        {{ form_end(form) }}
    </center>
    <br />
    {% for post in lastPosts %}
        <table align="center" class="design" width="98%">
            {% include 'forum/post.html.twig' with { 'mayPost': false, 'userIsModerator': false, 'postIsUnread': false } %}
        </table>
        <br />
    {% endfor %}
{% endblock %}
