{% extends('base.html.twig') %}

{% block content %}
    <br />
    <p class="info">De zoekmachine wordt elk kwartier bijgewerkt, nieuwe berichten van de afgelopen 15 minuten worden dus nog niet gevonden</p>

    <div class="panel">
        <div class="panel-title"><i class="fas fa-search"></i> Zoeken in het forum</div>
        <div class="panel-content">
            {{ form_start(form, { 'attr': { 'id': 'search_form' } }) }}
                <table>
                    {{ form_row(form.words) }}
                    {{ form_row(form.method) }}
                    <tr>
                        <td>&nbsp;</td>
                        <td>
                            <a class="somda-button" href="#" id="search_button" onclick="disableMeAndSubmitForm('search_button', 'search_form'); return false;">Zoeken</a>
                            <a class="somda-button" href="{{ path('forum') }}">Naar het forum-overzicht</a>
                        </td>
                    </tr>
                </table>
            {{ form_end(form) }}
        </div>
    </div>

    {% if results is defined %}
        {% if results | length > 0 %}
            {% if moreResults %}
                <p class="warn">Er werden meer dan 100 resultaten gevonden, verfijn je zoekcriteria voor een beter resultaat</p>
            {% endif %}
            <table>
                <tr>
                    <th colspan="3">{{ 'forum.discussion.subject' | trans }}</th>
                    <th>{{ 'forum.author' | trans }}</th>
                    <th>Datum en tijd</th>
                </tr>

                {% for result in results %}
                    <tr>
                        <td>
                            {% if result.discussionLocked %}
                                <i class="fas fa-lock"></i>
                            {% else %}
                                <i class="fas fa-comments"></i>
                            {% endif %}
                        </td>
                        {% if result.titleMatch %}
                            <td colspan="2"><a href="{{ path('forum_discussion', { 'id': result.discussionId, 'name': (result.discussionTitle | slugify) }) }}">{{ result.discussionTitle }}</a></td>
                        {% else %}
                            <td>&nbsp;</td>
                            <td><a href="{{ path('forum_discussion_post', { 'id': result.discussionId, 'name': (result.discussionTitle | slugify), 'postId': result.postId }) }}">Re: {{ result.discussionTitle }}</a></td>
                        {% endif %}
                        <td>{{ result.authorId | displayUser(result.authorUsername) | raw }}</td>
                        <td>{{ result.postTimestamp | displayDateTime(true) }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <p class="warn">Er zijn helaas geen forum-berichten gevonden die aan jouw zoektermen voldoen</p>
        {% endif %}
        <br />
    {% endif %}
{% endblock %}
